body {
  background-color: #f5f5f5; }

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.login-box {
  margin-top: 150px;
  max-width: 450px; }

.sureler-select > .text .description {
  display: none; }

.tabular.menu a.active {
  background-color: #f5f5f5 !important; }
