<div class="ui container" style="padding-top: 50px;">
    <h1 class="ui teal center aligned header">
        <div class="content">
            Hayat Kitabı Kur'an Yönetim
        </div>
    </h1>

    <div class="ui grid segment main-segment">
        <div class="row">
            <div class="five wide column">
                <div class="ui floating pointing dropdown labeled icon big teal button sureler-select"
                     style="width: 100%">
                    <i class="filter icon"></i>

                    <span class="text">{{sure.ismi}} Suresi</span>

                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Sure ara...">
                        </div>

                        <div class="divider"></div>
                        <div class="header">
                            <i class="list icon"></i>
                            SURE LİSTESİ
                        </div>

                        <div class="scrolling menu">
                            <div class="item" ng-repeat="s in sureler" data-sure="{{s}}">
                                {{s.ismi}} Suresi
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="five wide column"></div>
            <div class="six wide right aligned column">
                <button class="ui icon big red button" ng-click="logout()"><i class="power icon"></i> Çıkış</button>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui top attached tabular large menu">
                    <a class="item active" data-tab="details">
                        Sure Detayları
                    </a>
                    <a class="item" data-tab="ayetler">
                        Sure Ayetleri
                    </a>
                </div>

                <div class="ui bottom attached tab segment active" data-tab="details" style="background-color: #f5f5f5">
                    <form class="ui form" ng-submit="saveSure()">
                        <div class="field">
                            <label>Sure Vidyosu</label>
                            <input type="text" ng-model="sure.vidyo" name="sure-video" placeholder="Youtube vidyo id">
                        </div>
                        <div class="field">
                            <label>Sure Açıklaması</label>
                            <textarea ui-tinymce="tinymceOptions" ng-model="sure.aciklamasi" rows="15"></textarea>
                        </div>
                        <button class="ui blue button" type="submit">Kaydet</button>
                    </form>
                </div>

                <div class="ui bottom attached tab segment" data-tab="ayetler" style="background-color: #f5f5f5">
                    <table class="ui celled selectable table">
                        <thead>
                        <tr>
                            <th>Ayet</th>
                            <th>Güncellenme Tarihi</th>
                            <th>Okunuş Sesi</th>
                            <th>İşlemler</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="a in ayetler">
                            <td>{{sure.ismi}} Suresi {{a.ayet_index}}. Ayet</td>
                            <td>{{formatDate(a.updated_at)}}</td>
                            <td class="center aligned" style="width: 100px;">
                                <i ng-if="a.ses" class="ui icon checkmark green"></i>
                                <i ng-if="!a.ses" class="ui icon cancel red"></i>
                            </td>
                            <td class="right aligned" style="width: 260px;">
                                <button class="ui tiny icon orange button" ng-click="updateAyet(a)"><i class="edit icon"></i> Düzenle</button>
                                <button class="ui tiny icon blue button" ng-click="updateAciklamalar(a)"><i class="plus icon"></i> Açıklamaları Düzenle</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui small modal update-ayet-modal">
    <i class="close icon"></i>
    <div class="header">
        {{sure.ismi}} Suresi {{ayet.ayet_index}}. Ayet
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>Ayet</label>
                <textarea ng-model="ayet.ayet" rows="5"></textarea>
            </div>
            <div class="field">
                <label>Ayet Okunuş Sesi</label>
                <input type="text" ng-model="ayet.ses">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui approve green button">Kaydet</div>
        <div class="ui cancel button">İptal</div>
    </div>
</div>

<div class="ui small modal update-aciklamalar-modal">
    <i class="close icon"></i>
    <div class="header">
        {{sure.ismi}} Suresi {{ayet.ayet_index}}. Ayet Açıklamaları

        <button ng-click="addAciklama()" class="ui blue tiny icon button" style="float: right;"><i class="icon plus"></i> Açıklama Ekle</button>
    </div>
    <div class="content">
        <form class="ui form">
            <div class="ui teal secondary segment" ng-repeat="ac in aciklamalar">
                <div ng-click="removeAciklama(ac)" class="ui right corner red label" style="cursor: pointer; margin-top: -1px;">
                    <i class="cancel icon"></i>
                </div>

                <div class="field">
                    <label>Açıklama Pozisyon No</label>
                    <input type="text" ng-model="ac.pozisyon">
                </div>
                <div class="field">
                    <label>Açıklama</label>
                    <textarea ng-model="ac.aciklama" rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui approve green button">Kaydet</div>
        <div class="ui cancel button">İptal</div>
    </div>
</div>