<div class="ui center aligned grid">
    <div class="column login-box">
        <h2 class="ui teal header">
            <div class="content">
                Hayat Kitabı Kur'an Yönetim
            </div>
        </h2>

        <form class="ui large form auth-form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input ng-model="email" type="text" name="email" placeholder="E-posta adresi">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input ng-model="password" type="password" name="password" placeholder="Parola">
                    </div>
                </div>
                <button type="submit" class="ui fluid large teal submit button">Giriş Yap</button>
            </div>
        </form>
    </div>
</div>