<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-gear" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menu-content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Hayat Kitabı Kur'an</h1>
        </ion-header-bar>

        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" menu-close href="#/app/quran/sureler" ng-click="iosInputFix()"><i class="icon ion-ios-book-outline"></i>Sureler</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/quran/search"><i class="icon ion-ios-search"></i>Gelişmiş Arama</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/quran/notes"><i class="icon ion-ios-compose-outline"></i>Notlar</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/quran/favorites"><i class="icon ion-ios-star-outline"></i>Favoriler</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/meale-giris"><i class="icon ion-ios-browsers-outline"></i>Meale Giriş</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/meale-usul"><i class="icon ion-ios-list-outline"></i>Mealde Usül</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/mustafa-islamoglu"><i class="icon ion-ios-medical-outline"></i>Mustafa İslamoğlu</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Sistem</h1>
        </ion-header-bar>

        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" menu-close href="#/app/settings"><i class="icon ion-ios-gear-outline"></i>Ayarlar</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/help"><i class="icon ion-ios-help-outline"></i>Kullanım Kılavuzu</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/about"><i class="icon ion-ios-pulse"></i>Hakkında</ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/copyrights"><i class="icon ion-ios-briefcase-outline"></i>Telif Hakları</ion-item>
            </ion-list>
        </ion-content>

        <h5 class="important-msg">İlim farz, şahitlik emanet, hakkı söylemek mes’ûliyettir.</h5>
    </ion-side-menu>
</ion-side-menus>