.font-adjusted {
  &.small {
    .scroll {
      > p,
      > blockquote,
      textarea {
        font-size: 12px;
        line-height: 19px;
      }

      .item {
        p, a {
          font-size: 14px;
          line-height: 18px;
        }

        h4 {
          font-size: 11px;
        }

        .ayet-arabic {
          font-size: 21px !important;
          line-height: 27px !important;
        }
      }

      a.item {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &.big {
    .scroll {
      > p,
      > blockquote,
      textarea {
        font-size: 16px;
        line-height: 21px;
      }

      .item {
        p {
          font-size: 18px;
          line-height: 1.6;
        }

        a {
          font-size: 18px;
          line-height: 22px;
        }

        h4 {
          font-size: 14px;
        }

        .ayet-arabic {
          font-size: 27px !important;
          line-height: 35px !important;
        }
      }

      a.item {
        font-size: 16px;
        line-height: 21px;
      }
    }

    .ayetler-book {
      .page-item {
        font-size: 18px;
        line-height: 1.8;
      }
    }

    &.item-body {
      p {
        font-size: 18px;
        line-height: 1.6;
      }
    }
  }
}