.search-term {
  background-color: #F9EEC1;
}

.scroll > .card:first-child {
  margin-top: 0 !important;
}

span.highlighted {
  background-color: #daff75;
}

span.virtual-highlighted {
  position: absolute;
  display: block;
  background-color: #daff75;
  z-index: -1;
  width: 0;
}

button.remove-highlights {
  position: absolute;
  top: 7px;
  right: 10px;
  display: none;
}

.item.item-text-wrap {
  p {
    margin-bottom: 15px;
  }

  blockquote {
    border-left: 5px solid $positive !important;
    font-size: 14px !important;
  }

  ul.un-styled {
    list-style-type: disc;
    list-style-position: inside;
  }
  ol.un-styled {
    list-style-type: decimal;
    list-style-position: inside;

    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
  }
}

.ayet-arabic {
  text-align: justify;
  font-family: Scheherazade, Scheheraza;
  font-size: 24px !important;
  line-height: 30px !important;
  font-weight: normal;
  direction: rtl;
}

.sureler-list {
  .item {
    padding-left: 35px;

    a {
      overflow: visible;
    }

    .download-action {
      position: absolute;
      left: -30px;
      top: 2px;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      font-size: 24px !important;
    }
  }
}

.aciklama-position {
  display: inline-block;
  border: 1px solid #b2b2b2;
  background-color: #f8f8f8;
  color: #444;
  padding: 3px 4px;
  font-weight: 500;
  line-height: 12px;
  margin: 0 2px;
  border-radius: 4px;
}

.platform-ios.platform-cordova {
  .ayet-slider {
    margin-top: 53px !important;
  }
}

@media (min-width: 368px) {
  .modal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
}

a.ayet-notes-button {
  position: relative;
  float: right;
  padding-left: 22px;
  text-decoration: none;
  color: #222;

  i {
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 145%;
  }
}

.ayetler-book {
  width: 100%;
  height: 80%;

  .page {
    background-color: #fff;
    background-size: 100% 100%;
  }

  .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
  }

  .page-item {
    position: relative;
    height: 100%;
    padding: 30px 30px 75px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #444;
    font-size: 16px;
    line-height: 1.6;

    .text-container {
      width: 100%;
      height: 100%;
      font-size: 100%;
      color: #666;
      white-space: normal;
      word-wrap: break-word;
    }

    .book-actions {
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 100%;

      .bottom-right {
        position: absolute;
        right: 30px;
        top: 9px;
        z-index: 1;
        line-height: 30px;
      }

      .buttons {
        position: relative;
        width: 100%;
        padding-left: 30px;

        .button {
          display: inline-block;
          line-height: 30px;
          min-width: 40px;

          width: 40px;

          &::before {
            line-height: 31px !important;
          }
        }
      }
    }
  }
}
.temp-book-page {
  color: #666;
  white-space: normal;
  word-wrap: break-word;
}

.search-results {
  .item-body {
    h4 {
      position: relative;
      padding-left: 15px;
    }
  }
  i.colored-cube {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 2px;

    &.blue {
      background-color: #11c1f3;
    }

    &.green {
      background-color: #33cd5f;
    }

    &.orange {
      background-color: #E98F2E;
    }

    &.yellow {
      background-color: #ffc900;
    }
  }
}