.note-wrapper {
  margin-top: 10px !important;
  margin-bottom: 10px !important;

  &:first-child {
    margin-top: 0 !important;
  }
}

.card > .note {
  background-color: #F9EEC1;
  font-size: 14px;

  p:first-child {
    margin-top: 0;
  }

  textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #666;
    font-size: 14px;
    font: inherit;
    resize: none;
    text-indent: 0;
  }
}