.menu {
  background-color: $dark !important;

  .item, .item > a {
    background-color: $dark;
    border-color: #2e2e2e;
  }

  .item > a {
    color: #E6E6E6;

    &.activated {
      background-color: #2d2d2d;
      color: #fff;
    }
  }

  .important-msg {
    position: absolute;
    bottom: 15px;
    left: 0;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }
}