@font-face {
  font-family: 'Scheheraza';
  src: url('../fonts/Scheherazade.eot');
  src: local('Scheherazade'), url('../fonts/Scheherazade.ttf') format('truetype');
}

@font-face {
  font-family: 'DINPro';
  src: local('DINPro'), url('../fonts/DINPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DINPro-Medium';
  src: local('DINPro'), url('../fonts/DINPro-Medium.ttf') format('truetype');
}

// Variables
@import "variables";
@import "mixed";
@import "sidemenu";
@import "note";
@import "font-adjust";

// Ionic styles
@import "www/assets/vendor/ionic/scss/ionic";

