<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="aciklamaModal.hide($event)"><i class="icon ion-android-close"></i> Kapat</button>
        </div>
        <h1 class="title">{{sure.ismi}} Suresi {{ayet.ayet_index}}. Ayet</h1>
    </ion-header-bar>
    <ion-content class="padding" font-adjust>
        <div class="card">
            <div class="item item-body">
                <h4>{{aciklama.pozisyon}}. Açıklama</h4>
                <p ng-bind-html="aciklama.aciklama | nl2p" style="margin-top: 0;" underline data-type="aciklama" data-id="{{aciklama.id}}"></p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>