<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="shareTextModal.hide($event)"><i class="icon ion-android-close"></i> Kapat</button>
        </div>

        <h1 class="title">Paylaşım Metni</h1>

        <div class="buttons">
            <button class="button" ng-click="saveShareText()">Devam <i class="icon ion-ios-arrow-right"></i></button>
        </div>
    </ion-header-bar>

    <ion-content class="padding">
        <div class="card note-wrapper">
            <div class="item item-body note">
                <textarea elastic spellcheck="false" ng-model="sharing.text" style="height: 204px;"></textarea>
            </div>
        </div>
    </ion-content>
</ion-modal-view>