<ion-view cache-view="false">
    <ion-nav-title>{{sure.ismi}} Suresi</ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-more" ng-click="morePopover.show($event)"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar bar-subheader bar-dark item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="{{sure.ismi}} suresinde ara...">
        </label>

        <button class="button button-clear" ng-click="startSearch()">ARA</button>
    </ion-header-bar>

    <ion-content style="padding: 20px" font-adjust>
        <div class="ayetler-book" ayetler-book></div>
    </ion-content>
</ion-view>