<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="shareOtionsModal.hide($event)"><i class="icon ion-android-close"></i> Kapat</button>
        </div>

        <h1 class="title">Paylaşım Seçenekleri</h1>

        <div class="buttons">
            <button class="button" ng-click="saveShareOptions()">Devam <i class="icon ion-ios-arrow-right"></i></button>
        </div>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-checkbox ng-model="o.checked" ng-repeat="o in shareOptions">{{o.text}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>