<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="ayetNotesModal.hide($event)"><i class="icon ion-android-close"></i> Kapat</button>
        </div>

        <h1 class="title">Notlar</h1>

        <a ng-click="showNote()" class="button button-icon button-clear ion-ios-plus-empty"> Not Ekle</a>
    </ion-header-bar>

    <ion-content class="padding" font-adjust>
        <div class="card note-wrapper" ng-repeat="note in notes">
            <a class="item item-text-wrap note" ng-click="showNote(note)" ng-bind-html="note.text | nl2p"></a>
        </div>
    </ion-content>
</ion-modal-view>