<ion-popover-view style="height: {{morePopoverHeight()}}px">
    <ion-content>
        <ul class="list">
            <li class="item item-icon-left" ng-click="showSureAciklamasi()">
                <i class="icon ion-ios-information-outline"></i> Sure Önbilgisi
            </li>

            <li ng-if="sure.vidyo" class="item item-icon-left" ng-click="showSureVideo()">
                <i class="icon ion-ios-film-outline"></i> Sure Vidyosu
            </li>

            <li class="item item-icon-left" ng-click="startMultiShare()">
                <i class="icon ion-ios-color-filter-outline"></i> Çoklu Paylaşım
            </li>

            <li ng-if="viewMode == 'slide'" class="item item-icon-left" ng-click="changeViewMode()">
                <i class="icon ion-ios-bookmarks-outline"></i> Kitap Görünümü
            </li>

            <li ng-if="viewMode == 'book'" class="item item-icon-left" ng-click="changeViewMode()">
                <i class="icon ion-ios-photos-outline"></i> Sunum Görünümü
            </li>
        </ul>
    </ion-content>
</ion-popover-view>