<ion-view drag-content="false" cache-view="false">
    <ion-nav-title>{{viewTitle}}</ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-more" ng-click="morePopover.show($event)"></button>
    </ion-nav-buttons>

    <ion-content class="padding" font-adjust>
        <div ng-if="viewLoaded" class="list card">
            <div class="item item-body" style="background-color: #FAE6DF">
                <h4 style="margin-top: 0">Ayet</h4>
                <p ng-if="showArabic" class="ayet-arabic" style="margin-top: 0">{{ayet.arabic}}</p>
                <p ng-bind-html="ayet.ayet | nl2p | aciklamaPosition"></p>
            </div>
        </div>
        <div class="list card" ng-repeat="a in aciklamalar">
            <div class="item item-body">
                <h4 style="margin-top: 0">{{a.pozisyon}}. Açıklama</h4>
                <p ng-bind-html="a.aciklama | nl2p" underline data-type="aciklama" data-id="{{a.id}}" style="margin-top: 0"></p>
            </div>
        </div>

        <div class="list card" ng-repeat="n in notes">
            <div class="item item-body note">
                <h4 style="margin-top: 0">Not {{$index + 1}}</h4>
                <p ng-bind-html="n.text | nl2p" style="margin-top: 0"></p>
            </div>
        </div>
    </ion-content>
</ion-view>