<ion-view>
    <ion-nav-title>{{sure.ismi}} Suresi</ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-more" ng-click="morePopover.show($event)"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar bar-subheader bar-dark item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="{{sure.ismi}} suresinde ara...">
        </label>

        <button class="button button-clear" ng-click="startSearch()">ARA</button>
    </ion-header-bar>

    <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" style="margin-top: 35px;" class="ayet-slider">
        <ion-slide ng-repeat="a in ayetler | limitTo:itemLimit track by a.id">
            <div class="list card">
                <div class="item item-divider">
                    <i class="icon ion-ios-information-outline"></i> {{sure.ismi}} suresi {{a.ayet_index}}. ayet

                    <a ng-if="notes.length > 0" ng-click="ayetNotesModal.show()" href="#" class="ayet-notes-button"><i class="icon ion-ios-email-outline "></i> {{notes.length}}</a>
                </div>
                <div class="item item-body" font-adjust>
                    <p ng-if="showArabic" class="ayet-arabic" style="margin-top: 0">{{getArabic(a)}}</p>
                    <p ng-bind-html="markupText(a.ayet)|nl2p|aciklamaPosition:a"></p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a ng-if="!mediaRunning && ayet.ses" class="tab-item" href="#" ng-click="playAudio($event)">
                        <i class="icon ion-ios-play-outline"></i>
                        Dinle
                    </a>
                    <a ng-if="mediaRunning && ayet.ses" class="tab-item" href="#" ng-click="pauseAudio($event)">
                        <i class="icon ion-ios-pause-outline"></i>
                        Durdur
                    </a>
                    <a class="tab-item" href="#" ng-click="shareTargetsModal.show()">
                        <i class="icon ion-ios-redo-outline"></i>
                        Paylaş
                    </a>
                    <a ng-if="isFavorite(ayet.id)" class="tab-item" href="#" ng-click="toggleFavorite()">
                        <i class="icon ion-ios-star"></i>
                        Favori
                    </a>
                    <a ng-if="!isFavorite(ayet.id)" class="tab-item" href="#" ng-click="toggleFavorite()">
                        <i class="icon ion-ios-star-outline"></i>
                        Favori
                    </a>
                    <a class="tab-item" href="#/app/quran/ayet/{{sure.id}}/{{a.id}}">
                        <i class="icon ion-ios-chatboxes-outline"></i>
                        Detay
                    </a>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>