<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="shareTargetsModal.hide($event)"><i class="icon ion-android-close"></i> Kapat</button>
        </div>

        <h1 class="title">Paylaşım Ağları</h1>

        <div class="buttons">
            <button class="button" ng-click="startShare()"><i class="icon ion-android-done"></i> Paylaş</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-radio ng-change="updateTargets($index)" ng-model="t.checked" ng-value="true" ng-repeat="t in shareTargets">{{t.text}}</ion-radio>
        </ion-list>
    </ion-content>
</ion-modal-view>