<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="multiShareModal.hide($event);"><i class="icon ion-android-close"></i> Kapat</button>
        </div>

        <h1 class="title">{{sure.ismi}} Suresi Ayetleri</h1>

        <div class="buttons">
            <button class="button" ng-click="continueMultiShare()">Devam <i class="icon ion-ios-arrow-right"></i></button>
        </div>
    </ion-header-bar>

    <ion-header-bar class="bar bar-subheader bar-dark item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="query.index" placeholder="Ayet sırasına göre ara..">
        </label>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-checkbox ng-model="a.checked" ng-checked="a.checked" ng-repeat="a in multiShareAyetler | filter:query track by a.id">{{a.text}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>