<ion-popover-view style="height: 165px">
    <ion-content>
        <ul class="list">
            <li ng-if="!mediaRunning && ayet.ses" class="item" ng-click="playAudio()">
                Ayeti Dinle
            </li>
            <li ng-if="mediaRunning && ayet.ses" class="item" ng-click="pauseAudio()">
                Okunuşu Durdur
            </li>
            <li class="item item-icon-right" ng-click="addNote()">
                Not Ekle <i ng-show="" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="share()">
                Paylaş
            </li>
            <li class="item item-icon-right" ng-click="toggleFavorite()">
                Favori <i ng-show="isFavorite(ayet.id)" class="icon ion-ios-checkmark-empty"></i>
            </li>
        </ul>
    </ion-content>
</ion-popover-view>