<ion-view view-title="Favoriler">

    <ion-content class="padding" font-adjust>
        <div class="list card" ng-repeat="f in favorites">
            <a href="#/app/quran/ayet/{{f.sure.id}}/{{f.ayet.id}}" class="item item-body">
                <p ng-bind-html="f.ayet.ayet" style="margin-top: 0"></p>

                <p>
                    <span class="subdued">
                        <i class="icon ion-ios-information-outline"></i> {{f.sure.ismi}} suresi {{f.ayet.ayet_index}}. ayet
                    </span>
                </p>
            </a>
        </div>

        <img ng-if="favorites.length == 0" src="assets/img/favorite-bg.png" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>