<ion-view title="Notlar">
    <ion-header-bar class="bar bar-subheader bar-dark item-input-inset">
        <button class="button button-clear button-icon ion-ios-folder-outline" ng-click="filtersPopover.show($event)" style="margin-right: 10px"></button>

        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="search.text" placeholder="Notlarda ara...">
        </label>

        <a ng-click="showNote()" class="button button-icon button-clear ion-android-add"></a>
    </ion-header-bar>

    <ion-content class="padding" font-adjust>
        <div class="card note-wrapper" ng-repeat="note in notes | filter:search">
            <a class="item item-text-wrap note" ng-click="showNote(note)">
                {{shorten(note.text)}}
            </a>
        </div>

        <img ng-if="notes.length == 0" ng-click="showNote()" src="assets/img/note-bg.png" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>