<ion-popover-view style="height: 170px">
    <ion-content>
        <ul class="list">
            <li class="item item-icon-right" ng-click="setFilter('all')">
                Bütün Notlar <i ng-show="isFilter('all')" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="setFilter('ayet')">
                Ayet Notları <i ng-show="isFilter('ayet')" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="setFilter('special')">
                Özel Notlar <i ng-show="isFilter('special')" class="icon ion-ios-checkmark-empty"></i>
            </li>
        </ul>
    </ion-content>
</ion-popover-view>