<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="noteModal.hide($event)"><i class="icon ion-android-close"></i> Kapat</button>
        </div>

        <h1 class="title">Yeni Not</h1>

        <div class="buttons">
            <button class="button" ng-show="note.date" ng-click="delete()"><i class="icon ion-backspace-outline"></i> Sil</button>
            <button class="button" ng-click="saveNote()"><i class="icon ion-android-done"></i> Kaydet</button>
        </div>
    </ion-header-bar>

    <ion-content class="padding" font-adjust>
        <div class="card note-wrapper">
            <div class="item item-body note">
                <textarea elastic spellcheck="false" ng-model="note.text" style="height: 204px;"></textarea>

                <p ng-show="note.date">
                    <span class="subdued"><i class="icon ion-ios-time-outline"></i> {{ago()}}</span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>