<ion-popover-view style="height: 270px">
    <ion-content>
        <ul class="list">
            <li class="item item-icon-right" ng-click="setFilter('all')">
                Her yerde <i ng-show="isFilter('all')" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="setFilter('sure')">
                Sureler <i ng-show="isFilter('sure')" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="setFilter('ayet')">
                Ayetler <i ng-show="isFilter('ayet')" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="setFilter('aciklama')">
                Açıklamalar <i ng-show="isFilter('aciklama')" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="setFilter('note')">
                Notlar <i ng-show="isFilter('note')" class="icon ion-ios-checkmark-empty"></i>
            </li>
        </ul>
    </ion-content>
</ion-popover-view>