<ion-view view-title="Gelişmiş Arama">
    <ion-header-bar class="bar bar-subheader bar-dark item-input-inset">
        <button class="button button-clear button-icon ion-ios-folder-outline" ng-click="filtersPopover.show($event)" style="margin-right: 10px"></button>

        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="Ara...">
        </label>

        <button class="button button-clear" ng-click="startSearch()">Ara</button>
    </ion-header-bar>

    <ion-content class="padding search-results" font-adjust>
        <div class="list card" ng-repeat="r in results" ng-switch="r.type">
            <a href="{{getAyetlerLink(r.extra.id)}}" class="item item-body" ng-switch-when="sure">
                <h4 style="margin-top: 0"><i class="colored-cube blue"></i>Sure</h4>

                <p ng-bind-html="markupText(r.text)" style="margin-top: 0"></p>
            </a>

            <a href="#/app/quran/ayet/{{r.extra.sure_id}}/{{r.extra.ayet_id}}" class="item item-body" ng-switch-when="ayet">
                <h4 style="margin-top: 0"><i class="colored-cube green"></i>Ayet</h4>

                <p ng-bind-html="markupText(r.text) | aciklamaPosition" style="margin-top: 0"></p>

                <p>
                    <span class="subdued">
                        <i class="icon ion-ios-information-outline"></i> {{r.extra.sure_ismi}} suresi {{r.extra.ayet_index}}. ayet
                    </span>
                </p>
            </a>

            <a href="#/app/quran/ayet/{{r.extra.sure_id}}/{{r.extra.ayet_id}}" class="item item-body" ng-switch-when="aciklama">
                <h4 style="margin-top: 0"><i class="colored-cube orange"></i>Açıklama</h4>

                <p ng-bind-html="markupText(r.text)" style="margin-top: 0"></p>

                <p>
                    <span class="subdued">
                        <i class="icon ion-ios-information-outline"></i> {{r.extra.sure_ismi}} suresi {{r.extra.ayet_index}}. ayet {{r.extra.aciklama_index}}. açiklama
                    </span>
                </p>
            </a>

            <div class="item item-body" ng-switch-when="note">
                <h4 style="margin-top: 0"><i class="colored-cube yellow"></i>Not</h4>

                <p ng-bind-html="markupText(r.text)" style="margin-top: 0"></p>
            </div>
        </div>

        <img ng-if="results.length == 0" src="assets/img/search-bg.png" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>