<ion-view title="Sureler" cache-view="false">
    <ion-header-bar class="bar bar-subheader bar-dark item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="Surelerde ara..." ios-sureler-input-fix>
        </label>

        <button class="button button-icon button-clear ion-ios-more" ng-click="morePopover.show($event)"></button>
    </ion-header-bar>

    <ion-content font-adjust>
        <ion-list class="sureler-list">
            <ion-item class="item-icon-right" ng-repeat="s in sureler track by s.id" href="{{getAyetlerLink(s.id)}}">
                <button ng-if="!s.downloaded" class="button button-icon download-action ion-ios-cloud-download-outline" ng-click="download(s, $index, $event)"></button>
                <button ng-if="s.downloaded" class="button button-icon download-action ion-ios-checkmark-outline"></button>

                <span ng-if="showCheck('mushaf')">{{s.sirasi}} - </span>
                <span ng-if="showCheck('nuzul')">{{s.inis_sirasi}} - </span>
                {{s.ismi}} Suresi

                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>