<ion-popover-view style="height: 210px">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Sureleri Sırala</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-icon-right" ng-click="setSurelerOrder('mushaf')">
                Mushaf <i ng-show="showCheck('mushaf')" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="setSurelerOrder('nuzul')">
                Nuzül <i ng-show="showCheck('nuzul')" class="icon ion-ios-checkmark-empty"></i>
            </li>
            <li class="item item-icon-right" ng-click="setSurelerOrder('alfabetik')">
                Alfabetik <i ng-show="showCheck('alfabetik')" class="icon ion-ios-checkmark-empty"></i>
            </li>
        </ul>
    </ion-content>
</ion-popover-view>