<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="infoModal.hide($event)"><i class="icon ion-android-close"></i> Kapat</button>
        </div>
        <h1 class="title">{{sure.ismi}} Suresi Giriş</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-body">
                <p ng-bind-html="sure.aciklamasi | nl2p" style="margin-top: 0; padding-top: 15px; padding-bottom: 15px;" underline data-type="sure-info" data-id="sure.id"></p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>