<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Sureler" icon="ion-ios-book-outline" href="#/app/quran/sureler">
        <ion-nav-view name="quran-sureler"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Ara" icon="ion-ios-search" href="#/app/quran/search">
        <ion-nav-view name="quran-search"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Notlar" icon="ion-ios-compose-outline" href="#/app/quran/notes">
        <ion-nav-view name="quran-notes"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Favoriler" icon="ion-ios-star-outline" href="#/app/quran/favorites">
        <ion-nav-view name="quran-favorites"></ion-nav-view>
    </ion-tab>
</ion-tabs>