<ion-view view-title="Hakkında">
    <ion-content>
        <img ng-click="openInAppBrowser('http://kodpage.com')" src="assets/img/about-bg.png" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>