<ion-view view-title="Telif Hakları">
    <ion-content>
        <img ng-click="openInAppBrowser('http://www.dusunyayincilik.com/')" src="assets/img/copyrights-bg.png" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>