<ion-view view-title="Kullanım Kılavuzu">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                Uygulamayı nasıl offline kullanabilirim?
            </div>
            <div class="item item-text-wrap">
                Ayarlar sayfasında yer alan kullanım şekli ayarını offline seçerek uygulamayı internet bağlantısı olmadanda kullanabilirsiniz.
                Bu işlem internet hızınız ve cihazınızın performansına bağlı olarak 10 saniye ile 2 dakika arasında sürebilir.
            </div>

            <div class="item item-divider">
                Kısmi online kullanım şekli nedir?
            </div>
            <div class="item item-text-wrap">
                Ayarlar sayfasında yer alan kullanım şekli ayarını kısmi online olarak seçtiğinizde, uygulama dinamik bir şekilde veri
                indirme politikası izleyecektir. Örneğin; Fatiha Suresi'nin 1. ayetine girdiğinizde, uygulama ilk önce bu surenin ayetlerinin ve her
                ayetin açıklamalrının önceden kayıtlı olup olmadığını kontrol edecek ve eğer herhangi bir öğeyi bulamazsa indirme işlemini gerçekleştirecektir.
            </div>

            <div class="item item-divider">
                Surelerde nasıl arama yapabilirim?
            </div>
            <div class="item item-text-wrap">
                Sureler sayfasında ki, sure listesinin üstünde yer alan metin kutusunu kullanarak, surelerde arama yapabilirsiniz.
            </div>

            <div class="item item-divider">
                Sureleri nasıl sıralayabilirim?
            </div>
            <div class="item item-text-wrap">
                Sureler sayfasında ki, sure listesinin üstünde yer alan <i class="icon ion-ios-more"></i> ikonuna basarak, sureleri mushaf, nuzül ve alfabetik olarak sıralayabilirsiniz.
            </div>

            <div class="item item-divider">
                Sureleri nasıl offline açabilirim?
            </div>
            <div class="item item-text-wrap">
                Sureler sayfasında ki, sure isimlerinin yan tarafında bulunan <i class="icon ion-ios-cloud-download-outline"></i> ikonuna basarak sureyi,
                surenin tüm ayetlerini ve her ayetin tüm açıklamalarını cihazınıza indirebilirsiniz. İndirilen surelerin isimlerinin yan tarafında
                <i class="icon ion-ios-checkmark-outline"></i> ikonu yer alır. İndirilen sureyi internete bağlı olmadan da açabilirsiniz.
            </div>

            <div class="item item-divider">
                Surenin ayetlerinde nasıl arama yapabilirim?
            </div>
            <div class="item item-text-wrap">
                Surenin ayetler sayfasında ki, ayet listesinin üstünde yer alan metin kutusunu kullanarak, surenin ayetlerinde arama yapabilirsiniz.
            </div>

            <div class="item item-divider">
                Surenin önbilgisini nasıl görebilirim?
            </div>
            <div class="item item-text-wrap">
                Surenin ayetler sayfasında ki, ayet listesinin üstünde yer alan <i class="icon ion-ios-information-outline"></i> ikonuna basarak,
                surenin önbilgisini görebilirsiniz.
            </div>

            <div class="item item-divider">
                Ayete nasıl not ekleyebilirm?
            </div>
            <div class="item item-text-wrap">
                Ayet sayfasının sağ üst köşesinde yer alan <i class="icon ion-ios-more"></i> ikonuna basın ve açılan menüden "Not Ekle"
                öğesine basınız.
            </div>

            <div class="item item-divider">
                Nasıl paylaşımda bulunabilirim?
            </div>
            <div class="item item-text-wrap">
                Ayet sayfasının sağ üst köşesinde yer alan <i class="icon ion-ios-more"></i> ikonuna basın ve açılan menüden "Paylaş"
                öğesine basınız, Çıkan adımları takip ederek, işlemi tamamlayınız.
            </div>

            <div class="item item-divider">
                Ayeti nasıl favori listeme ekleyebilirim.
            </div>
            <div class="item item-text-wrap">
                Ayet sayfasının sağ üst köşesinde yer alan <i class="icon ion-ios-more"></i> ikonuna basın ve açılan menüden "Favori"
                öğesine basınız. İşlem gerçekleşince, öğenin yanında <i class="icon ion-ios-checkmark-empty"></i> ikonu çıkacaktır.
            </div>

            <div class="item item-divider">
                Nasıl vurgu ekleyebilirim?
            </div>
            <div class="item item-text-wrap">
                Ayet sayfasında, vurgulamak istediğiniz metinin üstüne dokunun ve elinizi çekmeden sağa veya sola elinizi hareket ettirin.
            </div>

            <div class="item item-divider">
                Nasıl gelişmiş arama yapabilirim?
            </div>
            <div class="item item-text-wrap">
                Gelişmiş arama sayfasının üstünde yer alan metin kutusunu aramak istediğiniz metni girin ardından ARA butonuna basınız.
                <i class="icon ion-ios-folder-outline"></i> ikonuna basarak arama kapsamını ayarlayabilirsiniz.
            </div>

            <div class="item item-divider">
                Yazı boyutunu nasıl değiştirebilirim?
            </div>
            <div class="item item-text-wrap">
                Ayarlar sayfasında yer alan yazı boyutu ayarını kullanarak, yazı boyutunu küçük, normal veya büyük olarak ayarlayabilrsiniz.
            </div>

            <div class="item item-divider">
                Ayetin arapçasını nasıl gizleyebilirim?
            </div>
            <div class="item item-text-wrap">
                Ayarlar sayfasında yer alan ayetin arapçası ayarını kullanarak, ayetin arapça metnini gizleyebilir veya gösterebilirsiniz.
            </div>

            <div class="item item-divider">
                Varsayılan suere sıralamasını nasıl değiştirebilirim?
            </div>
            <div class="item item-text-wrap">
                Ayarlar sayfasında yer alan sure sıralaması ayarını kullanarak, surelerin varsayılan sıralamasını değiştirebilirsiniz.
            </div>
        </div>
    </ion-content>
</ion-view>