<ion-view view-title="Ayarlar">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Görünüm Ayarları
            </div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Yazı boyutu
                </div>
                <select ng-model="settings.fontSize">
                    <option value="small">Küçük</option>
                    <option value="normal">Normal</option>
                    <option value="big">Büyük</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Ayetlerin görünümü
                </div>
                <select ng-model="settings.showAyetlerViewMode">
                    <option value="book">Kitap</option>
                    <option value="slide">Sunum</option>
                </select>
            </label>

            <div class="item item-toggle">
                Ayetin arapçası
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="settings.showAyetArabic">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Sure sıralaması
                </div>
                <select ng-model="settings.sureOrder">
                    <option value="mushaf">Mushaf</option>
                    <option value="nuzul">Nuzül</option>
                    <option value="alfabetik">Alfabetik</option>
                </select>
            </label>

            <div class="item item-divider">
                Sistem Ayarları
            </div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Kullanım şekli
                </div>
                <select ng-model="settings.netUsageType">
                    <option value="partial-online">Kısmi Online</option>
                    <option value="online">Online</option>
                    <option value="offline">Offline</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>