<ion-view view-title="Mealde Usül">
    <ion-content font-adjust>
        <div class="list">
            <div class="item item-divider">Anlam Açısından</div>
            <div class="item item-text-wrap">
                <p>Eskiler “usulsüzlük vusulsüzlüktür” derlerdi. Yani, bir yöntemi olmayan amacına ulaşamaz. Klasik İslâmî
                    disiplinlerde tüm anlama ve yorumlama faaliyetleri bir usul dahilinde gerçekleşmiştir. Bu, tüm İslâmî
                    disiplinlerde tek bir usulün kullanıldığı anlamına gelmez. Mesela, kelâmcılarla fıkıhçılar arasındaki
                    “delâlet” ihtilafı buna örnek verilebilir.</p>

                <p>“Delâlet bahsi”, İslâmî ilimlerdeki anlama ve yorumlama faaliyetinin belkemiğini teşkil eder. Fıkıh
                    usulcülerine göre lafzın hükme delâleti dört yolla olur:</p>

                <ol class="un-styled">
                    <li>Kipi ve söz dizimiyle lafızdan ilk anlaşılan şeye “ibarenin delâleti” denir.</li>
                    <li>Lafzın kastedilenin dışındaki bir anlama yorulmasına “işaretin delâleti” denir.</li>
                    <li>Lafzın ifade ettiği hükmün, gerekçe ortaklığı nedeniyle başka bir konuda kendini ifşa etmesine
                        “delâletin delâleti” denir.
                    </li>
                    <li>Lafzın söylenmeyen bir anlama gelmesine de “iktizanın delâleti” denir. Lafızlar, ifade ettikleri mâna
                        bakımından: özel, genel, müşterek ve mübhem; mânaya medlulü ve delâletin dereceleri bakımından: kapalı,
                        müşkil, açık, nass, müfesser, muevvel; kullanım bakımından: mecaz, hakikat, sarih ve kinaye diye
                        kısımlara
                        ayrılmıştır.
                    </li>
                </ol>
                <p></p>

                <p>Lafzın bizi götürdüğü şey mâna, mânanın ifade ettiği şey hakikat, hakikatin dayandığı şey hikmet, hükmü
                    belirleyen vasıf illet’tir. Hikmet ve illet tek boyutlu bir nedensellik değildir. Bütün bu süreçle elde
                    edilmesi umulana “maksat” denir. Esasen anlamanın hikmetine ancak maksadı gerçekleştirerek erilmiş olur.</p>

                <p>Bir metnin anlaşılmasında üç yöntem olabilir: 1) Yazar merkezli anlama: Kur’an bağlamında bu Allah’ın muradı,
                    yaratılışın maksadı, kâinat, insan ve olaylara dair ilâhî yasaları anlama faaliyetidir. 2) Metin merkezli
                    anlama: Dil, dil-anlam, dilin menşei, metnin iç bütünlüğü, metnin amacı, metnin bağlamı açılarından
                    anlamadır. 3) Okur merkezli anlama: Metnin aktardığı olayın ilk kahramanları, vahyin ilk muhatapları ve
                    halihazır muhataplar açısından anlamadır.</p>

                <p>Gerek klasik delâlet bahsi gerek buna ilave edilebilecek anlama teorilerinin tümü araçtır. Hepsinin maksadı
                    doğru anlamayı temin etmektir. Teoriyi
                    mutlaklaştırmak aracı amaçlaştırmak anlamına gelir. Mealimizi hazırlarken hem klasik anlama faaliyetini, hem
                    de bunun pratiği olan tefsir geleneğimizi hep göz önünde bulundurduk. Ulaştığımız farklı mânaların
                    lafızdaki, ibare- deki, Kur’an’ın bütünündeki, nebevî uygulamadaki ve tefsir geleneğimizdeki dayanağını
                    göstermeye çalıştık. Şu bir gerçek ki, tefsir birikimimiz gözardı edilerek meal hazırlanamaz. Anlam kaybını
                    en aza indirmenin yolu notlan- dırmaktır. Elinizdeki mealin 6 bin civarında not içermesinin sebebi de budur.
                    Böyle bir çalışma muazzam tefsir edebiyatımız göz ardı edilerek asla başarıya ulaşamazdı.</p>

                <p>Bu bir “gerekçeli meal”dir. Bu mealin “gerekçeli” sıfatının hakkını ne kadar verebildiği ayrı bir mevzudur.
                    Fakat biz, hem Kur’an’ın hem de Kur’an okuru- nun hakkını gözetme kaygısıyla bu yola başvurduk. Bununla
                    kaynak dilin imkânlarının yolda zayi edilmeden mümkün mertebe hedef dile aktarılması amaçlanmıştır. Zira
                    metin bize birden çok anlam sunmaktadır. Bunun iştikak, lafız, ibâre, metin, mâna, maksat, sarf, nahiv,
                    belâgat, zamirlerin mercileri, kıraat farklılıkları gibi birçok gerekçesi vardır. İşte böylesi durumlarda,
                    bu anlamlardan birini tercih edip diğerlerini yok saymak bize hiç de hakkani- yetli görünmedi. Bu, okura
                    haksızlıktı. Meal okurunu alternatif anlamların tümüyle başbaşa bırakmak ise olacak şey değildi. Bu hem
                    mümkün değil, hem de “vuzuha kavuşturmak” yerine “vuzuha karıştırmak” ile sonuçlanması kaçınılmazdı. En
                    doğrusu tercih edilen anlamı ana meale taşımak, tercih edilmeyen anlamları ise aşağıya not olarak düşmekti.
                    Bunun bir de şartı vardı: Tercih edilenin niçin tercihe şayan olduğunun, tercih edilmeyenin de niçin tercih
                    edilmediğinin gerekçelerini göstermek. Zira ola ki, mütercimin tercih etmediği mânada birçok sırlar gizli
                    olabilir. O sırlara o alanda mütehassıs biri mütercimden daha iyi ulaşabilir. Kaldı ki, mütercimin tercihi
                    isabetsiz olabileceği gibi, ihmal edilen mâna zaman içinde önem de kazanabilir.</p>

                <p>Bunun çok zor bir iş olduğu erbabının malumudur. Zaten bu alanda yüzde yüz bir başarıdan söz etmek de mümkün
                    değildir. Kaldı ki, yukarıda saydığımız ve sayamadığımız birçok gerekçeye dayalı alternatif anlamların
                    tümünü mealin notlarına taşımak doğru da değildir. Alternatif anlam olarak nota taşınanlar; ya tercih
                    edilen anlama eşdeğerdedir, ya da ona nisbetle daha zayıftır. Birinci durumda onun ihmali caiz değildir.
                    Bu tıpkı anlamı farklılaştıran makbul ve meşhur kıraat gibidir (her kıraat farklılığı anlam farklılığı
                    içermez). Böylesi bir alternatif anlamı görmemekle metni görmemek arasında fark yoktur. İkinci durum ise
                    genellikle klasik tefsirin tercihlerinden oluşur. Nota taşıma ihtiyacı bu tercihin niçin isabetli
                    olmadığını beyan amaçlıdır.</p>

                <p>Bu yöntemi bize telkin eden hususlardan biri de, vahyin “zengin anlam- lılığı” bir imkân ve üslup olarak
                    kullandığı kanaatini taşımamızdır. Bu “çok
                    anlamlılık” ile karıştırılmaması gereken bir şeydir. Buna en güzel örnek Bakara 177. âyetteki üçüncü tekil
                    zamirin iki yüklemi de (mal ve Allah) görecek şekilde yerleştirilmesidir. Yine birçok yerde gelen yeşâ’
                    fiilleri iki özneyi de görecek şekilde yerleştirilmiştir. Ayrıca unsurları iki tarafı görecek şekilde
                    yerleştirilmiş böyle birçok ibâre bulunmaktadır (msl: 2:283; 6:51; 100:7; 8:19; 11:28; 9:99). Bunları teke
                    indirip birini yok saymak yerine ya her iki anlamı da çeviriye yansıttık, ya da birini notta gösterdik.</p>

                <p>Kur’an, başı gökte ayakları yerde olan ilâhî bir hitaptır. “Baş” mâna ve maksadı, “ayaklar” lafız ve bağlamı
                    ifade eder. Başın ne dediğini öğrenmek için, ayakların nerede durduğunu bilmek şarttır. Mealimizde
                    lafız-mâna-maksat üçlüsünün birlikteliği esas alınmış, âyetin ayaklarının bastığı “nüzûl ortamı” hep
                    gözetilmiştir. Lafız ve mâna, maksat hakemine sunulmuştur. Maksat hakemi hüküm verirken, lafız ve mâna
                    şahitlerine dayanmıştır.</p>

                <p>Bu mealin iddiası, kaynak dildeki mânayı hedef dile mümkün olduğunca yol kazasına uğratmadan taşımaktır.
                    Mânalar kaynağından hedefine doğru taşınırken yol kazasına uğrayabilirler. Bu kaza bazen anlam genişlemesi,
                    bazen anlam daralması şeklinde gerçekleşir. Her iki halde de sonuç anlam kaymasıdır. Liyetefekkahû’yu
                    “fıkıh tahsil etsinler”, sallû ‘aleyhi “salevat okuyunuz”, feveylun li’l-musallîni “namaz kılanlara yazıklar
                    olsun”, makâ- men mahmûdeni “Mahmud’un makamı”, min-ledunnâ ‘ilmeni “katımızdan bir ilm-i ledün” şeklinde
                    çevirmek okuru anlam kazasına kurban etmektir. Mealimizde islâm, muslim, kufr, kâfir, şirk, muşrik, kitab,
                    takvâ, nefs, ruh, zikr, ğayb, cihad ve benzeri terimlerin (ıstılahlar) kullanıldıkları aslî mânaları tesbit
                    etmeye çalıştık. Bu gibi terimlerin zaman içinde kazandıkları ıstılahî anlamlardan mümkün olduğunca uzak
                    durduk. Vahyin ilk nüzûl ortamında bu terimlerle ne murad ediliyorsa onu esas almaya gayret ettik. Bu
                    arada sâlih amel, salât, zekât gibi 23 yıllık nüzûl sürecinin tümünde aynı vurguyla kullanılmayan
                    kavramlarda zaman içindeki vurgu değişikliklerini mümkün olduğunca çeviride göstermeye çalıştık.</p>

                <p>Nasıl ki mânanın lafza, maksadın mânaya aykırı olmaması lazımsa, lafız mânaya, mâna maksada perde olmamalıdır
                    . Daha açarsak lafız meale, meal mânaya, mâna mefhuma, mefhum maksada, maksat hakikate perde olma- malıdır.
                    Dili gözardı ederek mânaya ulaşılamaz. Mânanın hangi kap içinde geldiği asla gözardı edilemez. İhtiyaç
                    halinde Hz. Peygamber bu yöntemi bariz bir biçimde kullanmıştır (Msl: 9:108). Hakeza, Hz. Âişe lugavî
                    tefsir yapmıştır (Bkz: 2:158). Biz de lafza aykırı mânaya iltifat etmedik. Dilin desteklemediği yoruma,
                    Kur’an’ın desteklemediği rivayete itibar etmedik. Bir tek harfin dahi hakkı olduğuna inandık. Onun hakkını
                    gerek mâna gerek işlev olarak vermeye çalıştık.</p>

                <p>Yine takip ettiğimiz usul gereği, “Kur’an’da Hatib’ten kaynaklanan mutlak müteşabih yoktur, müteşabih olanlar
                    hitaptan ve muhataptan kaynaklanan- lardır” düsturunu ilke edindik. Zira ağzını açan anlaşılmayı ister ve
                    kimse anlaşılmamak için konuşmaz. Hele Allah hiç konuşmaz. Bazı sûrelerin başında gelen mukattaa
                    harflerini de bu kuraldan istisna tutmadık.</p>

                <p>Ayrı bir tefsir çalışmamız olduğu için, bu çalışma bilinen mânada bir tefsir olarak hazırlanmadı. Fakat
                    meali anlamak için bazı yerlerde tefsire girmek kaçınılmaz oldu.</p>

                <p>Kur’an yalnızca tefsir edilen (müfesser) bir metin değil, aynı zamanda tefsir eden (müfessir) bir hitaptır
                    (Bkz: 10:37). Bu, Kur’an’ın özne oluşuyla alâkalıdır. Kur’an kendisini kerîm, mecîd, azîz, hakîm gibi
                    sıfatlarla tanıtır. Bunların tümü de mübalağalı özne kipidir. Bu, Kur’an’ın tefsirin de öznesi olduğu
                    anlamına gelir. Kur’an’ın müfessir oluşunu müfesser oluşunun önünde tuttuk. “Bu âyeti nasıl tefsir
                    edebiliriz?” demezden önce “Bu âyet hangi hakikati tefsir ediyor?” diye sorduk.</p>

                <p>Zannedilir ki, Kur’an’a bir hitap-metin olması dolayısıyla anlam ilave etmek kolaydır. Ona zorla bir şey
                    söyletmek mümkündür, kendisine mâna yüklemeye ve önyargılara maruz bırakmaya ses çıkarmaz. Bu kısmen yaygın
                    bir kanaattir, fakat doğru değildir. Kur’an tıpkı canlı bir bünye gibi kendisinden olmayanı ve bünyesine
                    uymayanı kabul etmemektedir. Meal olarak, tefsir olarak, tevil olarak, dil, fıkıh ve kelâm yoluyla bir
                    biçimde zorlayarak dahil edilse bile, zaman içinde bünyesine uymayan o şeyi bir biçimde kendisine inşâ olmak
                    için teslim olan selim akıl sahiplerine “Bu benden değil” diye ifşa etmektedir. Tefsir tarihi bunun sayısız
                    örnekleriyle doludur.</p>

                <p>Zira Kur’an’ın mucizevî bir kendini koruma sistemi vardır. Bu sistem bazen parçada çoğu zaman bütünde
                    kendini göstermektedir. Bu öyle bir sistemdir ki, sistemi oluşturan her birim bir hologram gibi hem bütünün
                    hem parçanın özelliklerini taşımaktadır. Tıpkı bedenin yapıtaşı hücreler gibi, Kur’an’ın parçaları da ait
                    olduğu bütünün kimliğini taşır. Her kategori hem kendi arasında, hem diğer kategorilerle paralel ve çapraz
                    anlam bağlantılarına sahiptir. Bu bağlar bazen lafza, bazen mânaya, bazen maksada, bazen de her ikisine
                    veya üçüne ait olabilmektedir. Ve bazen bunların dışında derin ve yoğun tedebbürle ulaşılabilecek yerde
                    durmaktadır. Bu konuda Şâtıbî’nin fıkhî hüküm çıkarma konusundaki şu tesbiti, Kur’an’ı doğru anlama
                    konusunda da aynen geçerlidir: “Nasıl ki el, ayak, baş ve dil gibi organların insana has işlevleri
                    birbirinden kopuk olarak yerine getirmesi mümkün değilse ve bütün bu organlarla birlikte insana insan
                    deniliyorsa, aynı şekilde din de parçalar halinde değerlendirildiğinde kendine ait işlevi icra edemez.
                    Dolayısıyla şer’î bir hüküm çıkarılmak istendiğinde bu hükmün tek tek delillerden değil,
                    dinin bütününden çıkarılması gerekmektedir.” (el-İ’tisam, Riyad, t.y. I, 245). Şatıbî’nin parçacı
                    yaklaşıma getirdiği eleştirinin benzerini Gazali de lafızcılığa getirir: “Birçok yanlış anlama, mânanın
                    sözcüklerde aranmasından kaynaklan- maktadır. Oysa önemli olan öncelikle mânayı tesbit etmektir
                    (el-İktisad, 15).</p>

                <p>Eminim ki Kur’an bizim anlama çabamız sırasında vardığımız sonuçların kendi bünyesine uyup uymadığını o
                    mucizevî yöntemiyle test edecek ve bünyesine uymayanları kabul etmeyecektir. Biz Kur’an’a zorla anlam
                    yükle- menin ona ıstırap vereceğine inanıyoruz. Bunu bile bile yapmadık. Bilmeden yaptıksa, tek tesellimiz
                    özne olan Kur’an’ın kendi yöntemiyle onları da ayıklayacak olmasıdır.
                </p>

                <p>Hemen ifade edelim ki, Kur’an’ın debisini Allah’tan başka kimsenin bilmediği bir mâna rezervi vardır. Bu
                    rezervden yararlanmanın ilk şartı “Niçin Kur’an okuyorsun?” sorusuna doğru cevap vermektir. Bu cevabın
                    “Anlamak için?” şeklinde olması yeterli değildir. Zira bu bir ‘ara cevap’tır. Bu cevap bir soruyu daha
                    celbeder: “Niçin anlamak?” Bu sorunun onlarca, belki yüzlerce muhtemel cevabı vardır. Bunlar içerisinde
                    Kur’an’ın en beğendiği cevap, eminiz ki, “Yaşamak için anlamak” olacaktır. Zira Allah ve Rasulü’nün vahye
                    daveti bir diriliş ve hayat çağrısıdır (8:24). Mealimizin Hayat Kitabı Kur’an adını taşımasının gerekçesi
                    de budur.</p>

                <p>İlâhî kelâmın mânalarına ulaşmayı kolaylaştırmak için sayısı 6 bini aşan açıklayıcı not koyduk. Âyetlerin ne
                    dediği zaten mealde yer alıyordu. Biz ne demek istediğini “zımnen” yaptığımız açıklamalarda verdik. Bunu
                    en kısa, özlü ve vurucu cümlelerle yapmaya çalıştık. Vahyin imbiğinden damıtılarak elde edilen bu özlü
                    sözler birer “klişe” değildir. Eğer öyle görünüyorsa, bu bizim kusurumuzdur. Demek ki söz yüreğimizden
                    çıkmamış ki, yüreklere girmiyor. Biliriz ve inanırız ki söyleyenin yüreğinden çıkan söz dinleyenin yüreğine
                    girer. Tersi ise kulak kepçesinde kalır. Bu özlü sözler bazı okura sık gelebilir. Oysa özlü sözlerin
                    sıklığı, o sözlerin imbiğinden damıtıldığı konu ve âyetlerin sıklığıyla orantılıdır. Eğer o konu tekrar
                    gelmişse, elbet o konudaki özlü tesbit de tekrar gelecektir.
                </p>
            </div>

            <div class="item item-divider">Dil Açısından</div>
            <div class="item item-text-wrap">
                <p>Çeviri her şeyden önce bir dil faaliyetidir. Dil çevirinin hem sermayesi hem hasılatıdır. Kaynak dil Arapça
                    gibi söz varlığı ve anlam katmanları çok zengin bir dil, kaynak metin Kur’an gibi ebedi mucize olan veciz
                    bir hitap ise, çevir- menin dilde ‘referans çevresine’ ihtiyacı vardır. Dilde tercih ve takip ettiğimiz
                    referans çevresi, aynı zamanda mealimizin usulünün de belirleyicisidir.</p>

                <p>Kendimizi dili sentetik ve mühendislik ürünü bir şey gibi algılayıp “kıyasîdir” diyen eski Basra dil okuluna
                    karşı, dili doğal, canlı, aktif ve aktüel </p>

                <p>bir organizma olarak görüp “semaîdir” diyen Kûfe dil okulunun yanında hissettik. Bu yüzden lafızların
                    sonradan oluşmuş şer’î ve fıkhî karşılıklarını değil, lugat anlamlarını tercih ettik. Bu tercihimize rağmen
                    Kûfe okuluna mensup Ferrâ’dan (ö. 207/822) istifade ettiğimiz kadar, yeni Basra okuluna mensup Ebu Ubeyde
                    Ma’mer b. el-Müsennâ’dan (ö. 209/824) istifade etmekten de geri durmadık.</p>

                <p>Mealimizde, ‘dilde benzer veya yakın anlamlılar olsa da mutlak mânada eşanlamlı iki kelime yoktur’ kuralını
                    benimsedik. ‘Kelimenin farklılığı anlamın da farklılığını getirir’ ilkesine uygun hareket ettik (Msl:
                    68:10; 55:10; 19:13; 41:9; 2:170, 191; 4:85 ve ilgili notlar). Bu tercihimizle eşanlamlılığı “tüm edatlar
                    birbirinin yerine kullanılır” diyecek kadar savunan el-Elfâzu’l-Muterâ- dife yazarı Ebu’l-Hasen Ali
                    er-Rummanî (ö. 384 h.) çizgisinin değil, “mutlak mânada eşanlamlı iki kelime yoktur” diyen Furûk sahibi
                    Ebu Hilal el-Askerî (ö. 400 h.) çizgisinin yanında yer aldık. Bu nedenle half ile kasem, elfeyna ile
                    vecedna, Mukît ile Hasîb, hanânen ile rahmeten, seyyiat ile zunûb, ecdâs ile kubûr, suva’ ile sikâye,
                    şekk-rayb-mirye, i‘rad-tevelli-vezer, ğadab-la‘net-suht gibi yakın anlamlılara eşanlamlı muamelesi etmedik
                    ve aralarındaki farkı vurgulamaya çaba gösterdik.</p>

                <p>Edatlar konusunda da aynı usulü izledik. Büyük mânaların bu küçük kahramanları gözden kaçmasın diye çok ter
                    döktük. “Harf-i cerler birbirinin yerine geçebilir” diyerek sadece bâ’ya 14 farklı mâna (“vurgu” değil)
                    takdir eden İbn Hişam’a karşı (Muğni II, 163), “o zaman harfler hakikî mânalarını kaybeder” (s. 24) diyen
                    Furûk sahibinin ve “bâ’nın aslî mânası ilsaktır” diyen Sibeveyh’in görüşüne yakın durduk (msl: 107:5; 90:17;
                    9:45). Ama harflerin çok anlamlı olabileceği gerçeğini de gözardı etmedik.</p>

                <p>Kur’an çevirilerinde ihmal edilen veya üstünkörü geçilen hususlardan biri de deyimler ve deyimsel tabirler
                    meselesidir. Bunları yapı çözümüne tabi tutarak ‘çevirmeye’ kalkmak deyimi zayi etmek demekti. Öyle
                    yapmadık. Kaynak dildeki deyimin hedef dildeki en yakın karşılığını bulup yerine koymaya çalıştık. Mesela
                    raybe’l-menûna “feleğin sillesini yemek” dedik, sukıtû fî eydîhime “elleri kolları dökülünce” dedik, sâniye
                    ıtfihîye “eğip bükmek” dedik. Tabii ki, hepsine hedef dilde bir karşılık bulamadık. Mesela kâbe kavseyni
                    ev ednâ buna bir örnek.</p>

                <p>Takip ettiğimiz usule göre Kur’an’da ziyade edat bulunmamaktadır. Ziyade denilen her edat, Kur’an’ın edebî
                    üslubu gereği mutlaka bir beyani özellik ve güzellik taşımakta, mutlaka mânaya özgün ve aslî bir katkıda
                    bulunmaktadır. Bunun en tipik örneği nefyin haberi olarak gelen bâ’dır (msl: 68:2; 49:4; 59:14; 2:184;
                    12:85; 4:176).</p>

                <p>Mealimizde vardığımız özgün sonuçları, istikrâî bir okuma ile teyit etmeye özen gösterdik. Hidâyet ve
                    dalâletle ilgili olarak kullanılan yeşâ’ fiillerinin çift özneyi görecek şekilde çevrilmesi, “kalplerinde
                    hastalık olanlar”ın “ikiyüzlü- lerden” ayrı bir sınıf teşkil ettiği, na‘îm kalıbının kelimenin diğer
                    kalıplarından farklı olarak sırf “âhiret nimeti” için kullanıldığı, iradenin kullanıldığı 140 yerde de fiil
                    olarak geldiği, lâ uksimunun kullanıldığı her yerde Allah’a isnat edildiği, şerhin kullanıldığı tüm
                    âyetlerin Mekkî olduğu gibi sonuçlar buna örnektir (Msl: 102: 6, 8; 12:20; 13:27).</p>

                <p>Mealde benimsediğimiz bir ilke de şudur: Belâgat kurallarına göre bir kelime birden çok mânada
                    kullanılabilir, fakat istisnaî durumlar dışında, bir makamda birden çok mânaya geçit vermez. Çift tarafı
                    gören “zengin anlamlı” ibareler bu kısma girmez. Bu kural gereği lafzın kullanıldığı makamda ne mânaya
                    geldiğini tesbite çalıştık, ulaştığımız son noktayı meale yazdık. Bu konuda olanca gayretimize rağmen her
                    yerde aynı başarıyı yakaladığımız söylenemez. Bazı durumlarda mânaya ulaşmakta başarısız kaldığımı itiraf
                    ediyorum. Benim kusurumdur, boyum yetişmedi.</p>

                <p>Farklı makamlarda faklı mânalara gelen salat, zekât, fitne gibi terimleri mealin bütününde standart anlama
                    indirgeme yanlışından mümkün oldu- ğunca uzak durduk. Kavramları tek-tipleştirme konusunda özel bir gayret
                    sergilemedik. Muhtemel anlamlardan bağlamla en uyumlu olanını tercih ettik. Kitâba yeri geldi “ilâhî
                    mesaj” veya “ilâhî kelâm”, yeri geldi “vahiy” veya “kitab” dedik. Mu’minîne sırasında “inananlar”,
                    sırasında “güvenenler” dedik. Kâfirîne bir makamda “inkâr edenler” veya “küfredenler” dedikse, başka bir
                    makamda “nankörler” dedik. Bunda bir kusur görmedik. Zira Kur’an, farklı zaman ve mekânlarda farklı
                    bağlamlarda 23 yıla yayılarak indi. Aynı kavram farklı yerlerde farklı vurgular taşıyabileceği gibi, bu
                    süreçte anlam farklılaşmalarına da uğradı. Böyle bir hitap için çeviride standartlaştırma ve
                    tektipleştirmeye gitmek, belki estetik açıdan göze ve kulağa hoş gelirdi, ama vakıaya mutabık düşmezdi.
                    Fakat meselâ, mu’minîn ile ellezîne âmenû, kâfirîn ile ellezîne keferû arasındaki farkı hep gözetmeye gayret
                    ettik. Bir de inkârı savunan pasif kâfirler için “inkârda ısrar edenler”, Enfal’de olduğu gibi inkâr için
                    saldıran kavgacı kâfirler için “inkârda direnenler” dedik. Ellezîne âmenû ile mu’minîn arasındaki farkı hep
                    gözettik. Fakat birincisinin ellezîne keferû ile karşıtlık oluşturduğu bağlamlarda genel çevirimiz olan
                    “iman edenler” karşılığını değil “imanda sebat edenler” karşılığını tercih ettik. Zira bu bağlamlarda
                    “küfürde ısrar edenlerin” mukabili vurgusunu taşıyordu. Hiç kuşku yok ki Kur’an yaşanan bir hayatın içine
                    ‘yaşatan’ bir hayat olarak indi. Bu yüzdendir ki Kur’an’ın dili hayat kadar canlı ve renklidir, durağan ve
                    standart değil. Bir çevirinin en başta gözetmek zorunda olduğu şey Kur’an’ın ahlâkıyla ahlâklanmaktır. Bu,
                    çeviriyi bilgisayardan dökülmüş gibi şablonlara ve kalıplara mahkûm etmemeyi gerektirir.
                </p>
            </div>

            <div class="item item-divider">Çeviri Açısından</div>
            <div class="item item-text-wrap">
                <p>Her lisan bir ‘dünya’dır. Bu durumda tercüme iki dünya arasında mekik dokumaktır.</p>

                <p>Esas itibarıyla tercüme kaynak dil ile hedef dil arasında “lafza ilişkin” bir dönüştürme/çevirme işlemi
                    değil, “mânaya ilişkin” bir taşıma işlemidir. “Tercüme” ifadesi tam da dediğimize karşılık gelirken,
                    “çeviri” lafza ilişkin bir dönüştürme işlemini ifade eder görünmektedir. İbn Abbas’a “Kur’an’ın Tercümanı”
                    unvanının verilmesi de, Kur’an’ı başka bir dile tercüme ettiği için değil, “vahyin anlamını kaynağından alıp
                    hedefine anlaşılır bir dille taşıdığı” içindir.</p>

                <p>Çeviri anlamla ilgiliyse, çevirmenin ilk görevi çevirdiği metni anlamak olmalıdır. Aksi durumda kaynak metin
                    hedef dile “çevrilmiş” fakat “tercüme edilmemiş” olur. Bu çevirme ise tağyirden tebdile, tahvilden tahrife
                    kadar uzanabilir, Allah göstermesin. Kaynak dildeki mânayı kaynağında olduğu gibi kavrayıp, mümkünse
                    kayıpsız, mümkün değilse en az kayıpla hedef dile taşımak çevirmenin aslî sorumluluğudur.</p>

                <p>Bu sorumluluğu yerine getirmenin bilinen iki tür yöntemi vardır: Biri serbest veya yaklaşık çeviri, ikincisi
                    harfî çeviri. Birinci yöntem anlamı hedef kitlenin diline taşımayı, ikincisi hedef kitleyi anlamın
                    kaynağına taşımayı önceler. Doğrusu bu iki yöntemi kesin hatlarla birbirinden ayırıp ikisini birbirinin
                    karşısına yerleştirmek bir handikaptır. Hem doğru değil, hem kullanışlı değildir. Yaklaşık çeviri,
                    “çevirmen”den kaynak metni yeniden üreten “süpermen” çıkarmak anlamına gelmez. Harfî çeviri de, çevirmeni
                    “ara kablosu” yerine koymak değildir. Hele kaynak metin Kur’an gibi ne manzum ne mensur olan, bilinen tüm
                    edebî türlerin dışında ve üstünde bir metinse, burada çeviriyi teorisyenlerin tasniflerine hapsetmek çıkmaz
                    sokaktır. İki yöntemden birini mutlak üstün olarak ilan etmek yanıltıcı olacaktır. Mesela “harfî tercüme
                    asla en uygun tercümedir” denemez. Bu durumda şu soru gündeme gelir: Aslın nesine uygun? Üslubuna mı,
                    lafzına mı, mânasına mı, maksadına mı, musikîsine mi, belâgatına mı? Bütün bu unsurlar arasında belli bir
                    seviyeyi yakalayan tercüme ‘başarılı’ sayılmayı hak eder.</p>

                <p>Bizim çeviri yöntemimiz, iki yöntemin hassas bir karışımıdır. Muhkem âyetlerde lafzî yönteme, müteşabih
                    âyetlerde yaklaşık çeviri yöntemine daha yakın olduk. Metinde lafzî bir karşılığı olmayan açıklamaları
                    parantez içinde verdik. Bir tek harfi karşılıksız bırakmamaya ve metinde olmayan bir tek kelimeyi
                    metindenmiş gibi göstermemeye azamî itina gösterdik. Meal yaparken önceliğimiz “Bununla Allah neyi murad
                    etmiştir?” sorusu oldu. Metnin imkânlarını nasıl en az zayiatla modern muhataba taşırız kaygısını, ‘hangi
                    tercüme yöntemi’ kaygısından öncelikli addettik. Bununla amaçlanan mütercimin vahiyle muhatap arasından
                    çekilebildiği kadar çekilmesi, bu ikisini mümkün olduğunca baş başa, yüz yüze bırakmasıdır. Hz.
                    Peygamber’in ifadesiyle “Ola ki aktarılan aktarandan daha derin anlayış sahibi olabilir”. Özetle vahyin
                    tercümesinde aslolan, çeviribilimin tüm imkânlarından sonuna kadar yararlanmanın da ötesinde, onun
                    kullanmadığı imkânları da devreye sokarak vahyin muhatap tarafından daha iyi anlaşılmasını sağlamaktır.</p>

                <p>Çeviriyi yaparken, bazen bilmem kaçıncı kez okuduğum âyetin daha önce fark etmediğim bir mânasını fehmettim.
                    Kimi demler başımdan kaynar sular döküldü. Etlerimin kemiklerimden lime lime ayrıldığı hissine kapıldım.
                    Meğer anlamak insanı ne kadar yorarmış, onu öğrendim. Bazen hitabın ağırlığı altında öleyazdım. Kalbimin
                    bir kuşçasına yerinden fırlayacakmış gibi çırpındığı demler yaşadım. Bazen de âyetler cennet kuşu olup
                    yüreğimin karlı tepelerine kondular, beni yüreklendirip teselli ettiler. Üç gün uyku döşek bilmeden tek bir
                    âyetin mânası üzerine kapanıp “Allah’ım bundan muradın nedir?” diye kıvrandığım oldu. Kur’an’ın ulaşmaya
                    çalışan insanı bitap düşüren yalçın zirveleri vardır. O zirvelerde bulunan mânaya ulaştığımı düşündüğüm
                    müstesna zamanlarda hissettiğim sevinci, ömrümün başka hiçbir anında hissetmedim. Her âyete müvekkel bir
                    meleğin olduğuna inandım. O âyetin hakkını verdiğimde söz konusu meleklerin gönlüme hediyeler dizdiğini
                    hissettim. İşte bu hisleri yaşayan biri olarak, kaynak metnin muhatapta uyan- dırdığı etkiyi, çevirinin de
                    muhatapta uyandırmasına gayret ettim. Bununla amaçladığım bir başka şey de, bir kelimeyi daha vahiyle
                    buluşturma arzumdu. Kelimelere hayatta en büyük arzularının ne olduğu sorulsaydı, “vahyin anla- mını
                    yüreğimde taşımak” derdi diye düşündüm. Böyle yapmakla bir kelimeyi daha sevindirmek, bir kelimenin daha
                    gönlünü almak istedim.</p>

                <p>“Nadir kelimelere nadir karşılık” kuralını severek ve hararetle uygulama arzumun arkasında yatan gerçek
                    sebep, hemen üstte dile getirdiğim cümlelerde yatıyor.</p>

                <p>Çeviride eşdeğerlilik, bir tercümeyi “olgun” kılan unsurdur. Biz de mealimizde nadir kelimelere nadir
                    karşılıklar koymaya çalıştık. Hatta kaynak metinle hedef metin bir bilgisayara verilse, o kelimeden ilkinde
                    ne kadar geçiyorsa ikincisinde de o kadar geçmesi gerekirmiş gibi bir hisse kapıldık. Ne kadar başarılı
                    olabildik, bunu değerlendirmek bize düşmez. İşte bu kuralı uyguladığımız şu kelimeler hem Kur’an’da hem
                    mealde tek yerde geçmektedir: mu’avvikîn: caydıranlar (33.18); nahb: adak (33:23); ’utull: kaba (68:13);
                    zenîm: fırıldak (68:13); deyyâr: nümunelik (71:26); mutaffifîn: yolsuzluk yapanlar (83:1); kedh: yeldirmek
                    (84:6); ri’yâ: görkem (19:74); hanân: sevecenlik (19:13); sena: parıltı (24:43); rîş: zarafet (7:26); kâ‘a
                    safsaf: çırılçıplak, kupkuru bir düzlük (20:106); emşac: katmerli bir karışım (76:2); sâmidûn: kafa
                    tutuyorsu- nuz (53:61); lazib: konsantre (37:11); şevben: kokteyl (37:67); remzen: sembolik bir dil (3:41);
                    ubsilû/tubsele: ipotek edilecek (6:70); erkese: terslemek (4:88); sald: cascavlak (2:264)…</p>

                <p>Yakın ya da benzer anlamlı kelimelere çeviride de yakın anlamlar bulmaya çalıştık. Mesela suht-la‘net-ğadab
                    gibi benzer anlamlıları “hışım-lanet-gazab” ile karşıladık. Yine, şekk-rayb-mirye benzer anlamlılarını ise
                    “şüphe-kuşku-te- reddüt” ile karşıladık ve bunu baştan sona tüm çevirinin standardı yapmaya özen
                    gösterdik.</p>

                <p>Türkçede yer etmiş terimleri, eğer anlam kayması yaşamamış ve galat olarak kullanılmıyorsa, çevirmeyip olduğu
                    gibi bıraktık. Vahiy, hamd, şükür, adâlet, hak, hüküm, küfür, kâfir, veli, rahmet, af, iman, âhiret, dünya,
                    helâl, âyet, hidayet, ticaret, infak, şahit, kalp bunlardan sadece bazılarıdır.</p>

                <p>Bazen aynı forma farklı karşılıklar verdik. Mesela “ekber” sözcüğü, hem olumlu büyüklüğe hem olumsuz
                    büyüklüğe işaret eden bir sıfattır. Her iki halde de “en büyük, daha büyük” karşılığı sakil kaçmaktadır.
                    Mesela “Allah’ın zikri daha büyüktür” (29:45) âyetinde olumlu kullanılırken Bakara 217, Âl-i İmran 118 gibi
                    olumsuz kullanımlarda “daha büyük, en büyük” yerine “daha beter” kullanılması daha beliğdir. Bazen de bunun
                    tersini yaptık ve farklı formlara aynı karşılığı vermek zorunda kaldık. Mecbur kalmadıkça bu yola
                    başvurmadığımızı ifade etmeliyim.</p>

                <p>Bilinen bir gerçektir ki, Kur’an en azından iki farklı metin türü içerir: muhatabın dikkatini çekmeyi
                    önceleyen, sesin öne çıkarıldığı kısa ve vurgulu cümlelerin ağırlıkta olduğu Mekkî hitap, mâna ağırlıklı
                    Medenî hitap. Şu halde Kur’an’ın çevirisi de tek bir yöntemle sınırlandırılamaz.</p>

                <h4>Estetik ve Belâgat Açısından</h4>

                <p>Sibeveyh (ö. 180/769) el-Kitab’ında şöyle der: “Nahivcilerin çoğu bir ifade- nin gramer açısından irabını
                    düzelteceğim derken, anlamını göz ardı ederler. Halbuki, sözün anlamı irabından çok daha önemlidir.” Nahiv
                    ilminin kurucu eseri olan el-Kitab’ta “Sözün Güzeli ve Çirkini” gibi belâgata ilişkin bölümlere yer
                    verilmesi, Arap dilini tedvin eden üstadlarla sonraki dilciler arasındaki farkın bariz bir
                    göstergesidir.</p>

                <p>Uzun bir zamandan beri bir kuşun koparılmış iki kanadı gibi ayrı ayrı duran nahiv ve belâgat başlangıçta
                    birdi. Söz kuşu belagatin zirvesine bu iki kanatla uçmuştu. Bu, mâna ile gramerin ayrılmazlığı anlamına
                    geliyordu. Sibeveyh’in yolunu Ferrâ (ö. 207), Müberred (ö. 286), Sa’leb (ö. 291) ve Zeccac (ö. 311)
                    sürdürdü. Dil dâhisi Ebu Ali Farisî (ö. 377) bu çizgiyi bir okul haline getirdi. Bu okulu İbn Cinnî (ö.
                    392) nahivde, İbn Fâris (ö. 395) etimolojide, Abdulkahir Cürcanî (ö. 471?) belâgatta, Râğıb el-Isfahanî (ö.
                    502) Kur’an ıstılahlarında, Zemahşerî (ö. 538) tefsirde zirveye taşıdı.</p>

                <p>Mealde, yukarıda saydığımız seleflerimiz gibi mâna ile gramerin, belâgatla nahvin birbirinden ayrı değil
                    birbirinin içinde durduğu bir usulü tercih ettik. Mutlaka bir tercih söz konusu olacaksa, elbette mâna
                    gramere öncelenmeliydi. Zira vahyi okumaktan maksat murad-ı ilâhiye ulaşmak ve vahiyle inşâ olmaktı.</p>

                <p>Kur’an’ın belâgat mucizesi, onun hiçbir dil kuralına ya da kurallar manzumesine hapsedilememesidir. Kur’an,
                    kendisini şiir veya nesir olarak niteleyecek olanı doğrulamadığı gibi, onu sadece belli edebî formlara ve
                    kalıplara sığdırmaya çalışanları da mahcup eder. Esasen Kur’an’ın ebedi oluşu edebî oluşundan kaynaklanmaz.
                    Hayatı ta yüreğinden kavrayıp onun kodlarını barındırmasından kaynaklanır. Bu yüzden Kur’an hayat kadar
                    karmaşık, hayat kadar tekdüze, hayat kadar mucizedir.</p>

                <p>İnşâ ve haber cümleleri arasındaki farkı çeviriye yansıtmak, isim ve fiil cümleleri arasındaki farkı çeviriye
                    yansıtmaktan daha kolay oldu. İnşâ ve haber cümlelerini ayırmak için, inşâ cümlelerinin sonuna ünlem
                    işareti (!) koymak işimizi kolaylaştırdı.</p>

                <p>Eğer zorunlu değilse, çevirimiz boyunca metne takdirî lafız ilavesinden mümkün olduğunca kaçındık. Klasik
                    tefsirin lafız takdir ettiği birçok yeri, metindeki yalın haliyle çevirmeye gayret gösterdik. Takdir
                    gerekseydi kelâmın sahibi takdir ederdi diye düşündük. O şekilde gelmesinin mutlaka bir nükte
                    barındırdığına kani olduk (Msl: 20:102; 11:92; 43:60; 2:51, 184; 8:27; 24:53). İtirazımız takdire değil,
                    takdirin metnin bir parçası olarak sunulmasınadır. Değilse biz de takdir kullandık, ama onları parantez
                    içine aldık.</p>

                <p>Sözü çevirmek zordur, sesi çevirmek çok daha zordur. Biz bu mealde, sesi çevirmek gibi çetin bir işe
                    giriştik. Kaynak metnin ses değerlerini, anlamın müsaade ettiği oranda hedef metne taşımaya çalıştık.
                    Kur’an’daki iç musiki ve şiiri fersah fersah aşan şiiriyyeti meale yansıtmak güç. Bunu anlama halel
                    getirmeden yapmak oldukça zor ve zahmetli bir iştir. Bu zorluk bizi bazen “..olmalıdır” bazen de
                    “..olmalıdırlar” gibi, âyet sonlarındaki ses uyumunu bulmak için anlamı bozmayan tasarruflar yapmaya sevk
                    etti. Bu uğurda Türkçenin imkânlarını zorladık. Umarız Kur’an’daki sesi meale taşıma konu- sundaki emeğimiz
                    meal okurunun kulağından kaçmaz da, yürek damağında farklı bir lezzet bırakır.</p>
            </div>

            <div class="item item-divider">Tertip Açısından</div>
            <div class="item item-text-wrap">
                <p>Tertip, “sıraya dizme, sıralama” demektir. Tertip deyince iki şey akla gelir: 1) Âyetlerin sıralaması. 2)
                    Sûrelerin sıralaması. İkincisi de yine kendi içinde ikiye ayrılır: Sûrelerin Hz. Peygamber’e iniş
                    tarihlerine göre yapılan “nüzûl tertibi” ve Hz. Osman’ın hilafeti döneminde sahabilerden oluşan cem ve
                    tertip komisyonunun yaptığı “mushaf tertibi”. Ellerde okunan mushaf bu sıralamaya göredir.</p>

                <p>Âyetlerin sûre içerisindeki sıralaması Allah Rasulü’nün tasarrufunda gerçekleşmiştir. Bu sûreler Hz.
                    Peygamber tarafından namazlarda ve hutbe- lerde defalarca okunmuş, orada bulunan çok sayıdaki sahabe de
                    sûreleri Allah Rasulü’nün ağzından okunduğu şekliyle almış, ezberlemiş, okumuş, okutmuş ve kendinden sonraki
                    nesillere aktarmıştır.</p>

                <p>Âyetlerin sûre içindeki zamanı konusunda yaşanan ihtilaf, vahyin iniş tarihlerine dair ihtilafın bir
                    parçasıdır. Kimi otoriteler tarafından bütünüyle Mekke dönemine ait bir sûrenin bazı pasajlarının Medine’de
                    indiği iddia edildiği gibi, tersi de iddia edilmiştir. Mesela tamamı Mekke’de nazıl olan surelerin bazı
                    âyetleri, ezcümle Müzzemmil 10, 11, 20; Kalem 17-33 ve 48-50; Meryem 58, 71; Furkan 68-70, Yâsîn 45; Kamer
                    44-46; Vakıa 81-82; Necm 32; A’râf 163-170 vb. gibi birçok âyetin, sûrenin genelinden ayrı olarak Medine’de
                    indiği iddia edilmiştir. Yine hepsi de Medenî surelerde yer alan Bakara 281; Mâide 3; Enfal 30-36; Tevbe
                    128-129; Muhammed 3 gibi âyetlerin de Mekke’de indiği iddia edilmiştir.</p>

                <p>Bu iddiaların doğrusunu yanlışından ayırmak için iddiaların delillerine bakmak şarttır. Bu delillerin çoğu
                    nüzûl sebebi rivayetleridir. Oysa Mekkî veya Medenî bir sûrenin bir veya birkaç pasajını sûrenin iniş
                    zamanının dışına çıkarma gibi ciddi bir iddia, yalnızca sebeb-i nüzûl rivayetlerine bina edilemez. Zira bu
                    rivayetlerin bir kısmı sorunludur. Kaldı ki “Bu sûre (veya âyet) şunun üzerine inmiştir” türünden
                    rivayetler, her zaman o sûre veya âyetin iniş zama- nını göstermez. Sahabenin o olayla o sûre veya âyet
                    arasında bağ kurduğuna, dahası vahyi hayata sürekli nazil olan aktif bir özne olarak gördüğüne delâlet
                    eder.</p>

                <p>Bütünüyle bir döneme ait bir sûre içerisinde yer alan pasajın, anlamayı kesinlikle etkileyecek şekilde
                    bütünden farklı bir döneme nisbet edilmesi ciddi bir iddiadır. İkna edici delillere dayanmak durumundadır.
                    Bu konuda, metnin iç bağlamının desteklemediği rivayetler mesnet olamaz. Zira böylesi bir durum anlama
                    sorununa yol açar. Biz bu tür rivayetleri, tamamı metnin iç bağlamıyla ilgili olan beş kritere tâbi
                    tuttuk:</p>

                <p>1. Ses ve fasıla açısından. 2. Dil açısından. 3. İçerik açısından. 4. Üslup açısından. 5. Rivayetin doğruluğu
                    açısından.
                    Bu kriterlerin ayrıntılı bir uygulamasını En‘am sûresinin girişinde yaptık. Bu tür iddialara konu olan diğer
                    sûreleri de aynı kritere tâbi tutarak sonucu sûrelerin giriş bölümlerinde verdik.
                    Nüzûl tertibine gelince…</p>

                <p>Tüm sûrelere koyduğumuz girişin ilk pasajını sûrenin ismine, ikinci pasajını iniş zamanına, müteakip
                    pasajlarını ise konusuna ayırdık. Sûrelerin iniş tarihlerini ve sıralarını doğru tesbiti amaçlayan bu
                    pasajlar hayli emek gerektirdi. Bunu yapma nedenimiz, hem sûrenin doğru zamanını tesbit ederek
                    anlaşılmasını kolaylaştırma, hem de bu mealin nüzûl tertipli bir versiyonunu hazırlama niyetini taşımamızdı.
                    Nüzûl tertipli bir meal için önce sûrelerin iniş zamanlarını doğruya en yakın veren bir cetvele ihtiyaç
                    vardı.</p>

                <p>Açık yüreklilikle söyleyelim ki, nüzûl tertibi konusunda son sözü söyle- mek neredeyse imkânsızdır. Zira bu
                    konuda sahabeden bize kadar gelen farklı tertipler vardır. Sahabenin ittifak edemediği bir konuda son
                    noktayı koyan bir liste oluşturmak zordur. Amacımız bu konuda doğruya en yakın iniş cetvelini elde
                    edebilmekti. Bunun için sûrelerin üslubu, konusu ve belâgatının esas olduğu bir liste hazırlamaya teşebbüs
                    ettik. Bunda Hz. Osman’ın nüzûl tertibini esas aldık. Onun yanına İbn Abbas ve İmam Cafer tertiplerini
                    koyduk. Yine İbn Âşur sayesinde ulaştığımız İbn Abbas’a nisbet edilen Cabir b. Zeyd tertibini de bunlara
                    ilave ettik. Bazı sûreler üslûbu ve konusu itibarıyla ilk tertiplerdeki yerleriyle uyumlu değildi. Böylesi
                    durumlarda o sûrenin doğru zamanını tesbit için özellikle Kur’an’ın içinden delil aradık. Bazı sûrelerin
                    âyetleri başka sûrelerin âyetlerine atıf içeriyordu. Bu iniş sıralamasında kesine yakın bir delildi. Bu
                    konuda hadis ve siyer kaynaklarına da başvurduk. Delil bulduğumuzda tereddüt etmeden “Bu sûrenin iniş
                    zamanı ve yeri şudur” dedik. Bu konuda Fransız şarkiyatçı Réjis Blachère (ö. 1973) ve İranlı mütefekkir
                    Mehdi Bazergân’ın özgün tertiplerinden de istifade ettik.</p>

                <p>Bu meyanda pasajlar meselesi de önemliydi. Kur’an Allah Rasulü’ne yazılı bir metin olarak değil sözlü bir
                    hitap olarak indi. Sûrelerin âyetlere taksimi, Fatiha, İhlas, Felak ve Nas gibi bir kısım sûreler için
                    kesin olsa da, birçok sûre için kesin değildir. Mesela Mümin sûresini Mekke-Medine okulları 84, Şam-Kûfe
                    okulları 85, Basra okulu 82 âyet saymıştır. İbrahim sûresini Medineliler 54, Şamlılar 55, Basralılar 50,
                    Kûfeliler 52 âyet saymışlardır. Bu ihtilaf, sûrenin cümlelerinin nereden ve nasıl bölüneceğiyle, daha
                    temelde noktalamayla ilgili bir ihtilaftır. Esasa taalluk etmez. Metin harfine kadar aynı metindir.</p>

                <p>Anlamayı önceleyen bir okumada birim tek tek âyetler değil pasajlar olmalıdır. Tabir caizse âyetler tilavet
                    için, pasajlar kıraet içindir. Zira pasajlar mâna öbekleridir. Bu nedenle mealde her âyeti diğerinden
                    bağımsız olarak yerleştirmek, âyetleri mânanın ikmal edilmiş bir birimi saymak anlamına gelir. Bu doğru
                    değildir. Fakat bizce âyetleri birbirine karıştırarak çevirmek de daha farklı problemlere yol açacaktır.
                    Zira dünyadaki tüm mushaflar aynıdır ve tüm referanslar âyet rakamları üzerinden verilmektedir. Bu yüzden
                    âyetlerin nerede başlayıp nerede bittiğinin belli olmadığı üçü-beşi bir arada çeviri yöntemi mahzurludur.
                    Biz bu mealde Kur’an’ın temel birimi olan âyetleri hiç birbirine karıştırmadık. Fakat mânayı da âyette
                    tamamlanan bir şey olarak görmedik. Bu yüzden mânanın gerektirdiği yerde âyeti müstakil veya gurup halinde
                    ardarda sıralayarak pasajlar oluşturduk. Bu pasajların belli olması için de ilk kelimesini büyük harfle
                    başlattık ve önceki pasajla arasını ayırdık.</p>

                <p>Meal boyunca orijinal metne ait kısımları italik yazdık, onların çevirilerini “tırnak içinde” gösterdik. Tek
                    yazılan tarihlerde hicrî takvimi esas aldık. Ezelî ve biricik hakikati kastettiğimiz yerlerde “islâm”ı
                    küçük “i” ile yazdık.</p>

                <p>Ayrıntılı açıklamalar barındıran notlarda Mushaf sırasını değil nüzûl sırasını gözetmeye çalıştık. Mesela
                    mukatta‘a harfleri konusundaki ayrıntılı açıklamayı, Mushaf’ta ilk geçtiği Bakara 1’de değil nüzûl sürecinde
                    ilk geçtiği Kalem 1’de verdik. Notların referanslarında üç rakam kullandık. (Mesela 32:7, not 11 gibi.)
                    Birincisi sûre, ikincisi âyet numarasıdır. Not’tan sonra gelen numara ise atıf yapılan yerdeki dipnot
                    rakamıdır.</p>

                <p>Mealin sonuna ‘akıllı’ bir Dizin ekledik, bu Dizin’in kelime sayımına dayalı, öylesine yapılmış bir söz
                    yığını olmasını istemedik. Bunun için de, mealin ruhuna ve kavramsal dünyasına ulaşmayı mümkün kılan
                    kullanışlı bir Dizin oluşturmaya gayret ettik.</p>

                <p>Nadir kullandığımız kaynakların basım yer ve tarihlerini kaynakçaya taşımak yerine metnin içinde gösterdik.
                    8 ünlü hadis kitabının tümü için Mevsûatu’s-Sunne’yi kaynak gösterdik.
                </p>
            </div>

            <div class="item item-divider">Söz Sonu</div>
            <div class="item item-text-wrap">
                <p>Mükemmellik Allah’a mahsustur. Biz kuluz. Kula kulluk yaraşır. Kul olmak, kusuru kabul etmektir. Zira kul
                    kusursuz olmaz. Bazı hata ve kusurlar vardır ki onları sahibi değil başkaları görür. Bazı zuhul, hata ve
                    kusurlar vardır ki, olanca titizlik bile kişiyi onlardan müstağnî kılmaz. Sanki onlar birilerinin katkısını
                    celbetmek için oraya konulmuştur. O zuhul, kusur ve hatalara muttali olup da katkıda bulunacak olan işin
                    erbabına peşinen teşekkürlerimi arzederim.</p>

                <p>Bu mealin hazırlandığı 11 yılda kaç kez pes ettiğimi yakınlarım bilir. Zira bu görevin sorumluluğu görevin
                    kendisinden de ağırdır. Öyle zamanlar oldu ki, bu yük fakirin omuzlarına çok ağır geldi. Fakat her
                    seferinde Allah’ın inayeti ve Kur’an’ın kerameti yardıma yetişti. Rabbim tamamına erdiği günü gösterdi. Ne
                    diyebilirim ki: Allah varlığımı zâtına hamd kılsın.</p>

                <p>Bu zorlu ve yorucu çalışmanın oluşmasında emeği geçenlere teşekkür borcum var. Onların başında çalışma
                    ortamımı korumak için hep üzerime titreyen, meali yayınlanmadan evvel, baştan sona okuyan sevgili eşim var;
                    ortalama 14 saatin altına düşmeyen bir mesai ile kotarılan bu zorlu yıllar boyunca kâh “Yeter artık,
                    çıldıracaksın!” diyerek beni masadan kaldıran, kâh tefsirler arasındaki uykusuz gecelerime ortak olan eşim.
                    Ve tabii ki çocukla- rım. Hepsinden huzurlarınızda helâllik dilerim.</p>

                <p>Meal baskıya verilmeden önce 20 nüsha çoğaltılarak alanında yetkin bazı isimlere okumaları için tevdi edildi
                    . Bu dostlarımın katkısını minnetle yad etmeliyim. Meali çıkmadan önce tamamen okuyarak katkılarını sunan
                    İbrahim Sarmış, Mehmet Okuyan, M. Emin Yıldırım, İbrahim Şahin ve eşi, Münib Engin Noyan, İsmail Güler ve
                    Hasan Hafızoğlu’na; kısmen okuyarak katkılarını sunan Abdülcelil Candan, D. Mehmet Doğan, İsmet Uçma, Fatih
                    Okumuş, Halil Çiçek, Ertuğrul Özalp, Said Yaz, Yusuf Özkan Özburun ve Adnan İnanç’a; mealin fıkhî notlarını
                    müzakere için mesai ayıran Hayreddin Karaman hocamıza; mealimizin Kur’an metnini gözden geçiren Hafız İsmail
                    Uzun ve eşine kalbî şükranlarımı sunarım.</p>

                <p>Başta Sami ve Ferhat beyler olmak üzere mealin basım ve yayımında ellerinden geleni esirgemeyen herkese de
                    teşekkür etmeliyim. Kur’an’a kurban olmayı, cihana sultan olmaya tercih ederim.</p>

                <p><strong>Kur’an’a kurban olmayı, cihana sultan olmaya tercih ederim.</strong></p>

                <p>Rabbim utandırmasın. O bana yeter, O ne güzel vekildir. Beni maksadıma ulaştıracak olan sadece Allah’tır;
                    yalnızca O’na güvendim ve sadece O’na yöneldim.</p>

                <p>Nesilden nesile aktarılırken, zincirini yüz milyonlarca halkanın oluştur- duğu Kur’an’ı nakleden canlı
                    ‘senet’e, âdil bir şahid olarak katılmak en büyük tesellimdir.</p>

                <p><strong>İlim farz, şahitlik emanet, hakkı söylemek mes’ûliyettir. Rabbim şahid kıl!</strong></p>

                <p><strong>Rabbim şahid ol!</strong></p>
            </div>
        </div>
    </ion-content>
</ion-view>