<ion-view view-title="Meale Giriş">
    <ion-content font-adjust>
        <div class="list">
            <div class="item item-divider">Söz Başı</div>
            <div class="item item-text-wrap">
                <blockquote>Eğer Biz bu Kur’an’ı bir dağa indirmiş olsaydık, onun Allah’a saygıdan boyun eğmiş bir halde
                    parçalanıp dağıldığını görürdün. (59:21)
                </blockquote>
                <p>Önümüz ve sonumuz, dünümüz, günümüz ve yarınımız, her işimizin başı, ortası ve sonu O’nun adıyla ve
                    O’nun
                    adınadır. Çünkü O “ol” dedi olduk, “olma” dese olmazdık. Çünkü gücümüzü O’ndan aldık, varlığımızı
                    O’na
                    borçlu olduk. Borcun borçla ödenmeyeceğini bildik ve O’na kayıtsız şartsız teslim olduk. Bildik ki,
                    O
                    dilemese dileyemezdik, izin vermese edip eyleyemezdik.</p>

                <p>
                    Hamdimiz ve senamız, özünde rahmet sahibi ve işinde rahmet sahibi olan, sonsuz rahmetin kaynağı
                    olan,
                    vahiyle insana
                    tenezzül buyuran, akleden kalplerimizi onunla doyuran, insanı en güzel kıvamda yaratan, yarattığı
                    insana
                    Kur’an’ı ve beyanı öğreten, sözün gücünü gücün sözünden üstün kılan, kelâmıyla söze değer katan,
                    kalemi
                    yaratan ve onunla öğreten âlemlerin Rabbi, sevgi ve şefkatin mutlak kaynağı Allah’adır.</p>

                <p>
                    Desteğimiz ve salatımız, onun vahyini bize aldığı gibi taşıyan, o vahyi taşımakla kalmayıp model bir
                    hayatı
                    yaşayan, insanlığın kabul olmuş sadakası olan ve insanlığa ebedî mutluluğun aydınlık yolunu bırakan,
                    bir
                    ömrü vahye adayan ve hayatını canlı bir Kur’an kılan Rasulullah’adır.</p>

                <p>Varlık, Allah konuşunca var oldu. Tarih, O konuşunca başladı. Beşere ruh, O’nun dilini anlasın diye
                    üflendi.
                    O ruhla
                    birlikte irade, akıl ve nutk O’nun kelâmı muhatabını bulsun diye verildi. Ve ‘beşer’, O’nu anlamak
                    için
                    ‘insan’ oldu.</p>

                <p>
                    Varlığı kelâm ile başlatan, insanın serüvenini de kelâm ile başlattı. Hak ve sorumluluk verdiği
                    insana, hak
                    ve
                    sorumluluklarını nasıl kullanacağını vahiyle öğretti. Tarihin eksenine kelâmı yerleştirdi. İnsana
                    vahiyle
                    yol gösterdi. Hayatı</p>

                <p>inşâ etsin diye insanı dünyanın “kalfası” (halife) yaptı. Bu kalfa işini iyi yapsın diye insanı
                    vahiyle
                    eğitti.</p>

                <p>
                    Ezelî ve biricik hakikatin tüm zamanlardaki tezahürü olan İslâm, aynı zamanda Allah’ın kâinatı
                    yönettiği
                    sistemin
                    adıydı. Ezelî ve biricik hakikatin insanlığın son çevrimindeki tezahürü olan Kur’an vahyi ise ilâhî
                    bir inşâ
                    projesiydi. Hayat yol, insan yolcuydu. Yolu da yolcuyu da O yarattı. Yol haritasını belirlemek, yolu
                    ve
                    yolcuyu yaratanın hakkıydı. Tüm ilâhî vahiyler, varlık ağacının bu soylu meyvesi var ediliş amacını
                    gerçekleştirsin diye gönderilmişti. Ve insanlığın son çevriminde ebedî rehberlik tüm haşmetiyle
                    Kur’an
                    sûretinde bir kez daha göründü.</p>
            </div>

            <div class="item item-divider">Vahiy</div>
            <div class="item item-text-wrap">
                <p>Hayatta karşılaştığım hiçbir şey, beni bir ebedi mucize olan Kur’an kadar etkilemedi. Kur’an’ın
                    kanatlarına
                    tutundukça hayretim arttı, hayretim arttıkça daha bir sıkı tutundum. Ve işte o zaman anladım Allah
                    Rasulü
                    eliyle gerçek- leşen büyük iman hamlesinin arkasındaki itici gücü. Tüm kalbimle inandım ki, bu güç
                    Kur’an’dı. Vahyin dönüştürücü gücünü gözardı ederek, bu iman hamlesini ne anlamak ne de anlatmak
                    mümkündü.
                    Bu açıdan bakıldığında vahiy gerçek bir “fatih” olarak karşımızda duruyordu.</p>

                <p>Vahiy, ilk muhataplarının hayatını adım adım inşâ etmişti. Zira vahiy hayatı inşâ için gönderilmişti.
                    Vahyin
                    amacı insan merkezli bir hayat, iman merkezli bir insan, bilgi merkezli bir iman ve hakikat merkezli
                    bir
                    bilgi idi. Hakikatin merkezi ise zaten belliydi: el-Hak olan Allah.</p>

                <p>Vahiy ilk muhataplarını inşâ ederken şu yöntemi kullandı: 1) Kısmen ya da tamamen içini boşaltıp
                    yeniden
                    yüklediği kavramlarla muhatabının tasavvu- runu inşâ. 2) Önerme ve hükümleriyle muhatabının aklını
                    inşâ. 3)
                    Aktardığı tarihî örnek ve kıssalarla muhatabının şahsiyetini inşâ. 4) Bütünsel bir okuma sonucu
                    ulaşılacak
                    maksat ve ruhuyla bütün bir hayatı inşâ.</p>

                <p>Hayatını inşâ ettiği insanları şirkin ve zulmün esir aldığı karanlık akıllar- dan kurtarıp, tevhidin
                    ve
                    adâletin aydınlığına çıkardı. Vahyin inşâsına teslim olmadan önce eşkıya olanlar, vahyin inşâsından
                    geçtikten sonra evliya oldular. Onlar vahye kendilerini inşâ eden bir özne olarak yaklaştılar, vahiy
                    de
                    onları yaşadıkları çağın özneleri kıldı. Önceleri zaman ırmağında akan birer çer çöp gibiydiler.
                    Vahiyle
                    inşâ olduktan sonra hayat ırmağının akacağı yatağı onlar belirlediler. Vahye öyle bir teslim oldular
                    ki,
                    vahiy onları tefsir etti.</p>

                <p>Anlamın merkezinde Allah’ın olduğu zamanlarda, hayatın merkezinde de vahiy oldu. Böylesi zamanlarda
                    anlam
                    doğru bir biçimde elde edildi, üretildi ve iletildi. Bunun devamı lafız-mâna-maksat üçlüsünün
                    ayrılmamasına
                    bağlıydı.</p>

                <p>Bunları birbirinden ayırıp koparma teşebbüsleri, her seferinde anlam binasını biraz daha zayıflattı.
                    Bu
                    sürecin sonucunda anlam üretimi durdu. Bu duraklama şu zincirleme sonucu doğurdu:</p>

                <ol class="un-styled">
                    <li>Maksat gözardı edilince mâna gözden kaçtı ve üretilemez oldu.</li>
                    <li>Üretilemeyen mâna giderek küçüldü ve ihmal edilebilir bir unsur gibi görüldü.</li>
                    <li>Bunun sonucunda, oluşan mâna açığını kapatmak için lafız tek başına yüceltildi.</li>
                    <li>Yüceltilen lafız anlamanın değil hissiyatın konusu oldu.</li>
                    <li>Hissiyatın konusu olan lafız artık nesneleşmiş olduğu için hayatın dışına kolayca itilebildi.
                    </li>
                </ol>
                <p></p>

                <p>Sonuçta, vahiy hayatı inşâ eden özne olmaktan işte böyle çıkarıldı.
                </p>

                <p>Elinizdeki çalışma, bu olumsuz süreci tersine çevirmek için yapılmış fiilî bir duadır. Bu çalışma
                    kesinlikle
                    başkalarına görünme ve gösterme arzusunun bir ürünü değildir. Kur’an’ı bir hayat kitabı olarak
                    telakki eden
                    bir Kur’an talebesinin, murad-ı ilâhiyi anlama ve yaşama çabasının bir ürünüdür.</p>

                <p>Allah’ın kendisine hitap ettiği en son Peygamber Hz. Muhammed (s.a.v.), insanlığa gönderdiği son
                    kitap
                    ise Kur’an-ı Kerim’dir. Allah Teâlâ Kur’an-ı Kerim’i melek Cebrail aracılığıyla Hz. Muhammed’e
                    yaklaşık 23
                    yıl süren bir süreç içerisinde vahyetmiştir. Bununla Allah kullarını dalaletten hidayete,
                    karanlıklardan
                    aydınlığa çıkarmayı murad etmiştir.
                </p>

                <p>Vahiy, Allah’ın yarattığı insana olan şefkat ve sevgisinin bir ürünüdür. “Biz âdemoğluna kat kat
                    ikram
                    ederek onu üstün ve şerefli kıldık” (17:70) âyetindeki kerramnâ’nın Allah’ın insanı doğrudan muhatap
                    almaya
                    değer bir varlık olarak görmesi ve ona vahiy yoluyla ikram etmesiyle bir alâkası olsa gerektir.
                    Vahyin
                    inişini ifade eden “nüzûl ve inzal” kelimeleri, aynı zamanda “ikram”, “lûtuf” ve “iyilik”
                    anlamlarına gelir.
                    O, insana “kat kat ikram etmiştir.” Çünkü Allah insanı vahiy dışında ve ondan önce üç ayrı kılavuzla
                    desteklemiştir. Bu kılavuzların ilki temiz fıtrat ve vicdan, ikincisi duyular ve şuur, üçüncüsü ise
                    akıldır.
                    Bütün bunların üzerine Allah’ın insana vahiyle yol göstermesi, gök sofrasını akleden kalbinin önüne
                    sermesidir. Her ikram bir teşekkür ister. Büyük ikram büyük teşekkür ister. Allah’ın kullarına yol
                    göstermesi demek olan vahye kulların teşekkürü, gösterilen yolda yürümektir. Bunun için de vahyi
                    anlamak
                    şarttır. Anlamanın olmazsa olmazı tefekkürdür. Bilinen bir hakikattir: tefekkür teşekkürdür.</p>

                <p>Vahiy, Allah’ın iradesini insana bildirme yöntemidir. Kur’an’da “vahyetti” (evhâ), “konuştu”
                    (kelleme), dedi
                    ve söyledi (kâle), buyurdu (emera), ilka etti (elka), indirdi (enzele), “ünledi ve seslendi” (nâdâ)
                    kelimeleriyle ifade edilen vahyin gerçekleşme yollarını
                    şu âyet beyan eder: “Hiçbir ölümlüyle Allah’ın (yüz yüze) konuşması olacak şey değildir; ancak O ânî
                    ve içe
                    işleyen ilâhî bir ilham yoluyla, veya bir perde arkasından, ya da O’nun dilediği şeyi yine O’nun
                    izniyle
                    bildirsin diye bir elçi göndermek sûretiyle konuşur” (42:51).</p>

                <p>Kur’an, yine kendi beyanına göre ilk kez Ramazan ayı içerisinde yer alan mübarek bir gece olan (44:3)
                    Kadir
                    gecesinde inmeye başlamış (2:185; 97:1) ve yaklaşık 23 senelik bir süreçte peyderpey tamamlanmıştır.
                    Kur’an
                    eşyanın ve hakikatin bir tefsiridir. Kendisi bizatihî müfessir olan Kur’an âyetlerinin ilk müfessiri
                    de
                    yine Allah Teâlâ’dır. Daha da önemlisi, bunun aksi bir durum, Kur’an’ın bütünlüğü ilkesine
                    aykırıdır.</p>
            </div>

            <div class="item item-divider">Kur’an</div>
            <div class="item item-text-wrap">
                <p>Kur’an, fu’lân vezninin de delâlet ettiği gibi “okumanın tüm olumlu anlamlarıyla daima okunan”
                    demektir.
                    Kur’an’ı Kur’an’a sorduğumuzda, o kendisini bize şu özellikleriyle tanıtmaktadır:</p>
                <ol class="un-styled">
                    <li>Allah’ın kelâmıdır. Kelâm sıfatının, tüm diğer vahiyler gibi, başı arşta ayakları arzda olan
                        fiilî bir
                        tecellisidir.
                    </li>
                    <li>Arapça bir hitaptır. Arapça Allah’ın dili değil Kur’an’ın dilidir ve hiçbir tercüme Kur’an
                        değildir.
                    </li>
                    <li>Tevatür yoluyla nakledilmiştir ve Allah’ın koruması altındadır. İndiği ilk günden itibaren
                        binlerce
                        inananın hafızalarında, gönüllerinde, hayatlarında ve yazılan mushaflarda taşınarak bugünlere
                        gelmiştir.
                    </li>
                    <li>Anlaması kolaylaştırılmış, bizzat kendi kendisini tefsir eden apaçık bir hitaptır. O, her
                        okuyanın
                        kendine göre anlam verdiği bir hitap değil, murad-ı ilâhiyi taşıyan bir hitaptır.
                    </li>
                    <li>Mucizedir. Önceki peygamberlere verilen mucizeler göründüğü zaman ve mekânla sınırlıydı ve
                        tarihseldi,
                        Kur’an ise zamanlarüstü yaşayan bir mucizedir.
                    </li>
                    <li>Evrenseldir. Sadece belli bir mekâna ve zamana değil tüm insanlığa rehber olarak
                        gönderilmiştir.
                    </li>
                    <li>Kapsayıcı ve bütüncüldür. Hayatın her alanına dair değişmez değerleri ortaya koyar.</li>
                    <li>Hidayet, beyyinât, zikr, furkân ve nûrdur. İnsana rehberlik eder, hakikati beyan eder,
                        hatırlatır,
                        doğruyu yanlıştan ayırır ve karanlık akılları ışığıyla aydınlatır.
                    </li>
                    <li>Parça parça inmiştir. Çünkü Kur’an hayat kitabıdır ve ilâhî bir inşâ projesi olarak hayata anlam
                        katmak
                        için gönderilmiştir.
                    </li>
                </ol>
                <p></p>

                <p>Sözün özü, Kur’an okumak, ucu cennete ulaşan bir yolculuğa çıkmaktır. Tıpkı Hz. Peygamber’in dediği
                    gibi:
                    “Kur’an okuyan kimseye şöyle denir: Oku ve yücel! Dünyada okuduğun gibi oku! Makamın, son okuyacağın
                    âyetin
                    olduğu yerdedir.” (Tirmizî, Fedâilu’l-Kur’ân 17).</p>

                <p>Şu’arâ 192-196, İsra 106 ve Âl-i İmran 3-4’ten yola çıkarak Kur’an’da Kur’an’ın tarifi şöyledir:
                    Âlemlerin
                    Rabbinden emin bir elçi vasıtasıyla ebedî hakikatin anlam ve amacına uygun olarak Hz. Muhammed
                    aleyhisselâmın kalbine açık ve anlaşılır bir Arapça ile insanlığa iletilmek üzere indirilen, önceki
                    vahiylerde yer alan ezelî hakikatleri bünyesinde taşıyan ve onları tasdik eden, insanlığa yol
                    gösteren ve
                    iyiyi kötüden ayıran ilâhî kelâmdır.</p>

                <p>Kur’an’ın kendi tarifinde, vahyin Arap diliyle indirilişi doğrudan Kur’an’ın bir sıfatı olarak yer
                    alır
                    (Kur’ânen ‘arabiyyen). Kur’an’ın Arapça oluşunun vurgulanması, zımnen “anlaşılabilsin diye beşer
                    türünün
                    konuştuğu dillerden bir dille indirildi” vurgusunu taşır. Fakat bu zımni vurgu Arapça’nın vahyin
                    sıfatı
                    olduğu gerçeğini değiştirmez. Arapça’nın Kur’an vahyinin sıfatı olması demek, son tahlilde Kur’an’ın
                    bir
                    dili olduğunu söylemektir. Zira her peygam- ber kendi kavminin diliyle gönderilmiştir (14:4). Bunun
                    da
                    gerekçesi mesajın anlaşılmasıdır.
                </p>

                <p>Kur’an vahyinin Arapça ile gönderilmesi vahyin mesajının evrensel olma- sına mani değildir. Zira mâna
                    ruh,
                    lisan o ruhun üflendiği beden gibidir. Nasıl ki beden ruhun aracı ise, dil de mânanın aracıdır.
                    Kur’an’daki
                    hakikatlerin önceki kitaplarda da beyan edildiği söylenmiştir (26:196; 87:18-19). Önceki kitaplar
                    ise farklı
                    dillerde indirilmişti. Kur’an’ın nazmı mânasındadır ve mâna bir dilin lafızlarına hasredilemez. Hele
                    bu mâna
                    zamanlar ve zeminler üstü vahyin mânasıysa, bu daha bir böyledir. İlâhî kelâm kelimelerin kalbine
                    inmiş,
                    Arapça lafızlar yüce mânaları taşıyan birer kap olmuştur. Mânalar kabın şeklini almış, kap mânaların
                    boyasıyla boyanıp haliyle hemhal olmuştur. Lafız ve mâna et ve tırnak gibi birbirine kaynamıştır.
                    Bilincin
                    mânaya değebilmesi için önce lafza değmesi gerekir. Yani kabın içindekine ulaşmanın yolu kaba
                    ulaşmaktan
                    geçer.</p>
            </div>

            <div class="item item-divider">Meal</div>
            <div class="item item-text-wrap">
                <p>İşte sözün tam burasında tercüme faaliyetinin o kadim problemleri önümüze çıkmaktadır.</p>

                <p>Soru(n) şudur: Bir dilin içindeki mânaları bir başka dile aktarmak, bir kabın içindekini bir başka
                    kaba
                    boşaltmaya benzer mi?</p>

                <p>Mânayı “çorba”, lafzı “kazan” olarak gören biri, bu suale kolayca “evet” cevabı verebilir. Böyle biri
                    kendisini de kepçe sanacaktır. Fakat ne mâna “çorba”dır, ne de lafız “kazan”. Dolayısıyla mütercim
                    de kepçe
                    değildir. Mütercim, kaynak dildeki mâna ruhunun lafız bedenine inzal ediliş maksadını asla gözden
                    ırak
                    tutmadan, o ruhun o bedendeki tüm hissetme, akletme, bilme, görme, işitme, söyleme, etme ve
                    eylemelerini
                    gözlemleyip bu gözlemlerini olabildiğince aslına sadık kalarak hedef dile aktaran kimsedir. Bu
                    gerçekler
                    ışığında tercüme faaliyeti fotoğraf çekmeye ve resim yapmaya benzemez.</p>

                <p>Artık mütearife haline gelmiştir: Hiçbir tercüme aslının yerine geçemez. İstisnaları mümkün olsa da,
                    bu hüküm
                    bir hakikati ifade eder. Başta dilin doğası bunu dayatır. Zira dil durağan ve sentetik bir faaliyet
                    değil
                    canlı ve insanî bir organizmadır. Eğer kaynak dil Arapça gibi kıdem açısından köklü, belâgat
                    açısından
                    zengin bir dilse çeviri daha bir zorlaşır. Buna bir de çevrilen metnin/hitabın Kur’an gibi başı
                    gökte
                    ayakları yerde ilâhî bir kelâm oluşu eklenince, kaynak dildeki mânayı hedef dile taşımak daha bir
                    zorlaşacaktır. Bu durumda yorum alanı daha da genişleyecektir. Yorum alanı genişledikçe, sorumluluk
                    da bir o
                    kadar büyüyecektir. Zira bir sözü Kur’an’a nisbet etmek, o sözü Allah’a nisbet etmek demektir ki, bu
                    ağır
                    bir sorumluluktur.</p>

                <p>İşte “meal” isimlendirmesi tam da bu ihtiyaçtan doğmuştur. Kur’an tercü- mesi için “meal” terimini
                    ilk defa
                    Üstad Elmalılı (ö. 1942), Mehmet Âkif’i (ö. 1936) tercümeye ikna sadedinde kullanır. Ve bu kullanım
                    resmî ve
                    gayr-ı resmî mahfillerde kabul görür. Meal, tercümenin aslının yerini tutmayacağını güzel izah eden
                    bir
                    isimlendirmedir. Bu yüzden “Türkçe Kur’an” olmaz, ama “Kur’an’ın Türkçe meali” olur.</p>

                <p>Şu halde hiçbir Kur’an çevirisi, metni nihaî anlamda tamamıyla kuşattığı iddiası taşıyamaz. Bu iddia
                    çeviriyi
                    metnin yerine geçirmek olur. Böyle bir iddianın birbirinden vahim iki sonucu vardır: Birincisi
                    yorumu
                    mutlak- laştırmak, ikincisi metnin tükendiğini iddia etmek. Oysa, hiçbir yorum mutlaklaştırılamaz.
                    Mutlaklaştırılan yorum metnin makamına göz dikmiş demektir. Bu ise Kur’an’a karşı yapılabilecek en
                    büyük
                    saygısızlıktır. Bu yüzdendir ki, Kur’an üzerine yapılmış ve yapılacak olan hiçbir çalışma için “Bu
                    son
                    noktadır, bundan ötesi yapılamaz” denilemez. Bu, metnin tükendiğini ilan etmek demektir.</p>

                <p>Şu bir hakikattir ki, dünyanın tüm ağaçları kalem, tüm denizleri de mürek- kep olsa, Allah’ın
                    kelimeleri
                    tüketilemez. O kelimelere varlığın tamamı dahil- dir. Sözlü vahiy, Allah’ın tüketilemeyen o
                    ‘kelimât’ından
                    sadece çok küçük bir bölümdür. Nasıl ki Allah’ın kelimât’ı tüketilemezse, ondan bir cüz olan vahyin
                    manaları
                    da tüketilemez. Tükenen metnin yeri hayat değil müzelerdir.
                    Günümüzde ise Kur’an, göz kamaştırıcı gücünü, hem ifşa ettiği anlamlar hem de dönüştürdüğü insanlar
                    üzerinden göstermeye devam etmektedir.</p>

                <p></p>
                <blockquote>Ve eğer dünyanın tüm ağaçları kalem olsa denizleri de mürekkep, buna yedi deniz daha eklense,
                    Allah’ın kelimeleri yine de tükenmez: çünkü yalnızca Allah’tır her işinde mükemmel olan, her
                    hükmünde tam
                    isabet kaydeden. (31:27)
                </blockquote>

                <p>İlk kitabım, zâtî eşyalarım dışında belki ilk servetim, henüz yedi yaşımday- ken tarafıma hediye
                    edilen bir
                    Kur’an’dı. Yöremizde sevilip sayılan bir zâtın hediye ettiği bu mushafı, tüm yıpranmışlığına rağmen
                    hâlâ
                    muhafaza ederim.</p>

                <p>O gün hayatıma giren Kur’an, inişli çıkışlı bir seyir izlese de, hayatımdan bir daha hiç çıkmadı.
                    Gerek özgün
                    gerek örgün eğitimim, hep Kur’an’ı anlamamı kolaylaştıran alanlarda oldu. Şimdi geriye dönüp
                    baktığımda,
                    bunun Rabbimin fakire bir lûtfu olduğunu görüyor, şükründen âciz olduğumu itiraf ediyorum.</p>

                <p>Dolu dolu 11 yıllık ağır ve zorlu bir mesainin ürünü olan bu meal, “Bir meal de ben yazayım” diye
                    kaleme
                    alınmadı. Bir nevi kendini fakire dayatan bir sorumluluk olarak vücut buldu. Zira meal yazımı, 1998
                    başında
                    başlayan Tefsîru’l-Kur’ân ve Te’vîlu’l-Furkân adlı sesli ve görüntülü tefsir projemizin olmazsa
                    olmazıydı.
                    Tabii ki bu uzun vâdeli projenin öncesi de var. Kahire safhasını saymazsak, İstanbul’da 1992 yılında
                    başlayıp 15 yılda tamamlanan canlı ve kamuya açık tefsir derslerimiz bu çalışmanın nüvesini teşkil
                    eder.</p>

                <p>Vicâhen ve gıyâben çok geniş bir kesime ulaşan bu dersler, bir tür kadim ilim geleneğimizdeki “arz”
                    yöntemini
                    çağrıştırıyordu. Derslerde verilen kimi mânalar ve yapılan bazı yorumlar muhatapları tarafından
                    tartışılıyor, bu tartış- maların yansıma ve yankıları bize dönüyordu. Bu mealin olgunlaşmasında,
                    işbu
                    dönüşlerin payını daha baştan anmayı bir görev bilirim.</p>
            </div>
        </div>
    </ion-content>
</ion-view>