<ion-view view-title="Mustafa İslamoğlu">
    <ion-content font-adjust>
        <div class="list">
            <div class="item item-divider">Hakkında</div>
            <div class="item item-text-wrap">
                <img src="assets/img/mustafa-islamoglu.jpg" style="width: 100%; height: auto;">

                <blockquote>
                    <strong>"Kur'an'a adanmış bir ömür"</strong>
                </blockquote>

                <p>
                    28 Ekim 1960 tarihinde Kayseri’nin Develi ilçesinde dünyaya geldi. İlk ve orta eğitimini doğduğu ilçede
                    yaptı. Kayseri Yüksek İslam Enstitüsü'nde başladığı yüksek öğrenimine Kahire El-Ezher Üniversitesi İslam
                    Hukuku Fakültesi'nde devam etti. Kahire'de eğitim için bulunduğu yıllarda hem İslami araştırmalarda
                    bulunmuş, hem de dersler vermiştir. Kahire’de verdiği tefsir derslerini bir konulu tefsir örneği olan Adayış
                    Risalesi başlığı altında kitaplaştırmıştır.
                </p>

                <p>
                    1990 yılında İmamlar ve Sultanlar adlı İslam tarihinin ilk 150 yılını ele alan eleştirel tarih niteliğindeki
                    eserini hazırlamıştır. Bu yıllarda Yürek Devleti adıyla İslami Hareket Eleştirisi'ni de içinde barındıran
                    ilk denemesini kaleme almıştır. Mısırlı yazar Safinaz Kazım'ın “Fi Mez'eleti's-Sufur vel Hicab” adlı
                    eserini, “Kadının Özgürlüğü” adıyla tercüme ederek ilk çevirisini yayınlamıştır. 1991-93 yıllarında ilk
                    cildini Kahire’de diğer ciltlerini Türkiye’de kaleme aldığı İslami Hareketler ve Kıyamlar Tarihi adlı eseri
                    yayınlanmıştır. 1994 yılında geniş kapsamlı bir eleştiri niteliğindeki araştırma eseri olan Yahudileşme
                    Temayülü adlı eseri yayınlanmıştır.
                </p>

                <p>1997 yılında Hellman Hammett Human Rights Watch 1997 ödülünü almıştır.</p>

                <p>1997 yılında, II. Uluslar arası fetih sempozyumunda sunduğu tebliğ yürek fethi adıyla kitaplaştırmıştır.</p>

                <p>
                    1992 yılında başlayan tefsir dersleri 2008 yılında tamamlanmış ve eş zamanlı olarak hazırladığı Hayat Kitabı
                    Kur’an/Gerekçeli Meal-Tefsir 2008 de yayınlanmıştır. 1998 de başlayan Tefsir’ul Kur’an Tevilul Furkan
                    görüntülü ve sesli tefsir projesi de 2008 yılında 200 derslik video olarak yayınlanmıştır.
                </p>

                <p>
                    2009-2013 yılları arasında verdiği Esma-i Husna dersleriyle eş zamanlı olarak kaleme aldığı Kur’an’a göre
                    Esma-i Husna 3 cilt olarak yayınlanmıştır.
                </p>

                <p>
                    Yazarın 60’a yakın kitabı mevcut olup kitapları 18 dile (İngilizce, Almanca, Çince, Moğolca, Arnavutça,
                    Bulgarca, Kürtçe, bazı afrika dillerine vb.) çevrilmiştir.
                </p>

                <p>Yazar, evli ve beş çocuk babasıdır.</p>
            </div>
        </div>
    </ion-content>
</ion-view>